﻿@*@model PassionCardAdmin.Models.CardTappingModel*@
@{
    ViewBag.Title = "Index";
    //var cardData = (List<PassionCardAdmin.Models.CardTappingModel>)ViewBag.TappingList;
}

<style>
    .active {
        background-color: coral;
    }
</style>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Search Filter</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="row">

                                <div class="col-md-2 text-right">
                                    <div class="form-group">
                                        <label>
                                            IC number
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtICNumber" placeholder="IC Number">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 text-right">
                                    <div class="form-group">
                                        <label>
                                            Name
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtName" placeholder="Name">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1 text-right">
                                    <div class="form-group">
                                        <label>
                                            PrintBU
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.DropDownList("txtPrintBU", ((IEnumerable<PassionCardAdmin.Models.PrintBUModel>)ViewBag.PrintBuList).Select(option => new SelectListItem { Text = (option == null ? "None" : option.Text), Value = option.ID.ToString() }), new { @class = "form-control", @style = "float: right;", name = "txtPrintBU" })
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <a id="btnSearch" class="btn btn-block btn-primary pull-right">Filter</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5  ">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title CardTapListHeader"></h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <table class="table table-bordered" id="CardDetails-table">
                            <thead class="ors-table-header-- table-header">
                                <tr>
                                    <th>ID Number</th>
                                    <th>Name On Card</th>
                                    <th>Passion card number</th>
                                    @*<th>Label</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @*@if (cardData.Count == 0)
                                    {
                                    <tr><td colspan="3" style="text-align: center" class="nodata">No data available in table</td></tr>;
                                    }
                                    else
                                    {
                                        foreach (var data in cardData)
                                        {
                                    <tr>
                                        <td class="idnumber">@data.IDNumber</td>
                                        <td class="nameoncard">@data.NameOnCard</td>
                                        <td class="passioncardnumber">@data.PAssionCardNumber</td>
                                        <td class="gender hidden">@data.GenderStr</td>
                                        <td class="PrintBu hidden">@data.PrintBU</td>
                                        <td class="ExpiryDate hidden">@data.CardCANExpiryDt</td>
                                        <td class="passioncardnumberStr hidden">@data.PAssionCardNumberStr</td>
                                    </tr>
                                        }
                                    }*@
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <div id="page-selection"></div>
                    @*<ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>*@
                </div>
            </div>
        </div>

        <div class="col-md-7">
            @using (Html.BeginForm("SaveTapping", "CanTap", null, FormMethod.Post, new { @id = "form" }))
            {
                @*@Html.HiddenFor(model => model.NameOnCard)
                    @Html.HiddenFor(model => model.IDNumber)
                    @Html.HiddenFor(model => model.PAssionCardNumber)
                    @Html.HiddenFor(model => model.RecordID)
                    // @Html.HiddenFor(model => model.CardCANNumber)
                    @Html.HiddenFor(model => model.GenderStr)*@
                <input type="hidden" id="NameOnCard" name="NameOnCard" />
                <input type="hidden" id="IDNumber" name="IDNumber" />
                <input type="hidden" id="PAssionCardNumber" name="PAssionCardNumber" />
                <input type="hidden" id="RecordID" name="RecordID" />
                <input type="hidden" id="GenderStr" name="GenderStr" />

                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Preview</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-preview male">

                                    <div id="preview-pane">
                                        <div class="preview-container">
                                            <img id="previewimage" src="" class="jcrop-preview" alt="Preview not available" />
                                        </div>
                                    </div>

                                    <div id="preview-pane-Text1">
                                        <div class="preview-container">
                                            <strong><input type="text" readonly id="PsssionName" style="border:none;width:310px;" /></strong>
                                        </div>
                                    </div>

                                    <div id="preview-pane-Text2">
                                        <div class="preview-container">
                                            <strong><input type="text" readonly id="PsssionCardNo" style="border:none;" /></strong>
                                        </div>
                                    </div>

                                    <div id="preview-pane-Text3">
                                        <div class="preview-container">
                                            <strong><input type="text" readonly id="PsssionPrintBU" style="border:none;" /></strong>
                                        </div>
                                    </div>

                                    <div id="preview-pane-Text4">
                                        <div class="preview-container">
                                            <strong><input type="text" readonly id="PsssionExpiryDate" style="border:none;" /></strong>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="">
                                    @*@Html.TextBoxFor(model => model.CardCANNumber, new { @class = "form-control" })*@
                                    <input type="text" id="CardCANNumber" name="CardCANNumber" class="form-control cannumber" maxlength="16" onpaste="return false" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    @*@Html.TextBoxFor(model => model.CardCANExpiryDt, new { @class = "form-control" })*@
                                    <input type="text" id="CardCANExpiryDt" name="CardCANExpiryDt" class="form-control cardexpiry" maxlength="4" onpaste="return false" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/paginationjs")

<script>
    //Filter button click event.
    $('#btnSearch').click(function (e) {
        GetData(1, $('#page-selection'), false);
    });

    //Gets Data from Database using AJAX
    function GetData(page, bootPag, flag) {
        flagLoding = true;
        $('#LoadingDiv').show();

        var data = {
            PageSize: 10,
            PageIndex: page,
            IsSearch: false
        };

        var ICNumber = $('#txtICNumber').val();
        var Name = $('#txtName').val();
        var PrintBU = $('#txtPrintBU').val();

        $.ajax({
            type: "POST",
            url: '@Url.Content("~/CanTap/GetTapControllerData")',
            data: { page: page, rows: 10, ICNumber: ICNumber, Name: Name, PrintBU: PrintBU },
            success: function (data) {

                SetData(flag, data, bootPag);
                //$('#LoadingDiv').hide();
            },
            error: function (e) {
                console.log(e);
                //alert(e);
                $('#LoadingDiv').hide();
            }
        });
    }

    function SetData(flag, data, bootPag){

        if (flag) {
            InitializePagination(data.total, data.page);
        }
        else {
            if (data.total == 0 && data.page == 0) {
                $('#page-selection ul').html("");
            }
            else
                bootPag.bootpag({
                    total: data.total,
                    page: data.page,
                    maxVisible: 5,
                    leaps: true,
                    firstLastUse: true,
                    first: '←',
                    last: '→',
                    wrapClass: 'pagination',
                    activeClass: 'active',
                    disabledClass: 'disabled',
                    nextClass: 'next',
                    prevClass: 'prev',
                    lastClass: 'last',
                    firstClass: 'first'
                });
        }

        var tableBody = "";
        if (data) {
            var row = "";
            var sum = 0;

            if (data.data.length == 0) {
                row = '<tr>' +
                     '<td colspan="21" style="text-align: center" class="nodata">' + 'No data available in table' + '</td>' +
                 '</tr>';

                tableBody = tableBody + (row);
            }
            else {
                for (var i = 0; i < data.data.length; i++) {
                    var record = data.data[i];
                    row +=
                        '<tr>' +
                            '<td style="text-align: center" class="idnumber">' + record.IDNumber + '</td>' +
                            '<td style="text-align: center" class="nameoncard">' + record.NameOnCard + '</td>' +
                            '<td style="text-align: center" class="passioncardnumber">' + record.PAssionCardNumber + '</td>' +
                            '<td style="text-align: center" class="gender hidden">' + record.GenderStr + '</td>' +
                            '<td style="text-align: center" class="PrintBu hidden">' + record.PrintBU + '</td>' +
                            '<td style="text-align: center" class="ExpiryDate hidden">' + record.CardCANExpiryDt + '</td>' +
                            '<td style="text-align: center" class="passioncardnumberStr hidden">' + record.PAssionCardNumberStr + '</td>' + '</tr>';
                }

                tableBody = tableBody + (row);
                row = "";
            }
            $('.CardTapListHeader').text("Card Tapping Recrod List" + " (Total Records: " + data.records + ")");
            //ocument.getElementById("#CardTapListHeader").innerHTML = "Card Tapping Recrod List";
            $('#CardDetails-table tbody').html(tableBody);
        }

        $('#CardCANNumber').val("");
        $('#CardCANExpiryDt').val("");
        $('#PAssionCardNumber').val("");
        $('#IDNumber').val("");

        $("tbody tr:first").addClass("active");
        $("#IDNumber").val($("tbody tr:first").find(".idnumber").text());
        $("#NameOnCard").val($("tbody tr:first").find(".nameoncard").text())
        $("#PAssionCardNumber").val($("tbody tr:first").find(".passioncardnumber").text())

        $("#PsssionName").val($("tbody tr:first").find(".nameoncard").text());
        $("#PsssionCardNo").val($("tbody tr:first").find(".passioncardnumberStr").text());
        $("#PsssionPrintBU").val($("tbody tr:first").find(".PrintBu").text());
        date = $("tbody tr:first").find(".ExpiryDate").text();

        if (date)
            $("#PsssionExpiryDate").val("EXP: " + date);
        $('#CardCANNumber').focus();

        var gender = "";
        var idnumber = "";

        gender = $("tbody tr:first").find(".gender").text();
        idnumber=$("tbody tr:first").find(".idnumber").text();

        LoadData(gender, idnumber);

    }

    function InitializePagination(totalPages, CurrentPage) {
        // init bootpag
        $('#page-selection').bootpag({
            total: totalPages,
            page: CurrentPage,
            maxVisible: 5,
            leaps: true,
            firstLastUse: true,
            first: '←',
            last: '→',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function (event, num) {
            GetData(num, $(this), false);
        });
    }
</script>

<script>

    $(document).on('click', '.table tbody tr', function(){
        //$("#CardDetails-table tbody tr").on("click", function () {

        $("tbody").find(".active").removeClass("active");
        $(this).addClass("active");

        $("#PsssionName").val($(this).find(".nameoncard").text());
        $("#PsssionCardNo").val($(this).find(".passioncardnumberStr").text());
        $("#PsssionPrintBU").val($(this).find(".PrintBu").text());

        $("#IDNumber").val($(this).find(".idnumber").text());
        $("#NameOnCard").val($(this).find(".nameoncard").text())
        $("#PAssionCardNumber").val($(this).find(".passioncardnumber").text())

        date = $(this).find(".ExpiryDate").text();
        if (date)
            $("#PsssionExpiryDate").val("EXP: " + date);

        var gender = $(this).find(".gender").text();

        LoadData(gender, $(this).find(".idnumber").text());
        $('#CardCANNumber').focus();

    });

    function LoadData(gender, idnumber) {
        $("#LoadingDiv").show();
        if (gender !== "" && idnumber != "") {
            flagLoding = true;
            if (gender == "Male")
                $(".card-preview").removeClass("male").removeClass("female").addClass("male")
            else
                $(".card-preview").removeClass("male").removeClass("female").addClass("female")
            //console.log("In");

            if(@ViewBag.ImageFlag === true)
            {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Content("~/CanTap/GetImage?img=")' + idnumber,
                    contentType: 'application/json',
                    dataType: "json",
                    success: function (data) {
                        //console.log("out");
                        console.log(data);
                        imgs = data;
                        //alert(imgs.base64imgage);

                        document.getElementById('previewimage').setAttribute('src', 'data:image/png;base64,' + imgs.base64imgage);
                        $("#previewimage").css("width", 144);
                        $("#LoadingDiv").hide();
                        //displayImage(imgs.base64imgage);
                    },
                    error: function (xhr) {
                        console.log("Error occurred while loading the image. " + xhr.responseText);
                        //alert("Error occurred while loading the image. " + xhr.responseText);
                        $("#LoadingDiv").hide();
                    }
                });
            }
            else
            {
                $("#LoadingDiv").hide();
            }
        }
        else {
            document.getElementById('previewimage').setAttribute('src', '');
            $("#LoadingDiv").hide();
        }

    }

    function SaveTapping(page){
        $("#LoadingDiv").show();

        var PAssionCardNumber =  $("#PAssionCardNumber").val();
        var CardCANNumber =  $("#CardCANNumber").val();
        var CardCANExpiryDt =  $("#CardCANExpiryDt").val();
        var idnumber =  $("#IDNumber").val();

        var ICNumber = $('#txtICNumber').val();
        var Name = $('#txtName').val();
        var PrintBU = $('#txtPrintBU').val();

        try
        {
            $.ajax({
                cache: false,
                type: "POST",
                url: '@Url.Content("~/CanTap/SaveTapping")',/* + PAssionCardNumber + '&CardCANNumber=' +CardCANNumber + '&CardCANExpiryDt=' + CardCANExpiryDt + '&idnumber=' + idnumber,*/
                data: { page: page, rows: 10, ICNumber: ICNumber, Name:Name, PrintBU: PrintBU ,PAssionCardNumber: PAssionCardNumber, CardCANNumber:CardCANNumber,CardCANExpiryDt:CardCANExpiryDt, idnumber:idnumber },
                success: function (data) {

                    SetData(false, data, $('#page-selection'));
                    $('#LoadingDiv').hide();

                },
                error: function (xhr) {
                    console.log("Error occurred while loading the image. " + xhr.responseText);
                    alert(xhr.responseText);
                    $("#LoadingDiv").hide();
                }
            });
        }
        catch(ex)
        {
            alert(ex);
        }
    }

    //Document ready function
    $(document).ready(function () {
        $('#CardCANNumber').focus();
        GetData(1, $('#page-selection'), true);

        $(".cardexpiry").keyup(function (e) {
            if (this.value.length == 4 && $(".cannumber").val().length == 16) {
                // alert("submit");
                //$("#LoadingDiv").show();
                //$("#form").submit();
                SaveTapping(1);
                // document.location.reload();
            }
        });
    });

</script>
