﻿
<div class="row">    
    <div class="col-xs-12">
        @*<div class="row link-Style text-center">
            <strong>@Html.ActionLink("About US", "AboutUS", "Company", null, new { @class = "link-Style", target = "_blank" }) | @Html.ActionLink("Contact US", "ContactUS", "Company", null, new { @class = "link-Style", target = "_blank" }) | @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Company", null, new { @class = "link-Style", target = "_blank" })</strong>
        </div>*@
        <div class="row" style="text-align:center;">
            <strong> Copyright &copy; 2017 <a href="http://smartcard.com.sg/" class="link-Style" target="_blank">Re Creations Pte Ltd</a>.</strong> All rights
            reserved.
        </div>
    </div>
</div>
