﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/commoncss")
    <script>
        var flagLoding = false;
    </script>
</head>
@*@if (User.Identity.IsAuthenticated)*@
@if (!string.IsNullOrEmpty(PassionCardAdmin.Utilities.ConstantVar.CurrentUserId.ToString()))
{

    <body class="hold-transition skin-green sidebar-mini">
        <div id="LoadingDiv" class="loading-Span-Ni"></div>
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="#" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>P</b>C</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Passion</b> Card</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
                        <ul class="nav navbar-nav">
                            <li style="padding-left:400px; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; font-weight: 500;  line-height: 50px;  text-align: center; color:white">
                                <b>
                                    Administration
                                </b>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li>
                                <a href="@Url.Content("~/Account/ChangePassword")"><i class="fa fa-key"></i></a>
                            </li>
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Content/images/avatar.png" class="user-image" alt="User Image">
                                    <span class="hidden-xs">@PassionCardAdmin.Utilities.ConstantVar.CurrentUserName</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="~/Content/images/avatar.png" class="img-circle" alt="User Image">
                                        <p>
                                            @PassionCardAdmin.Utilities.ConstantVar.CurrentUserName
                                            <small>Last Login: @PassionCardAdmin.Utilities.ConstantVar.LastLoginTime</small>
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="@Url.Content("~/Account/ProfileData?userName=")@PassionCardAdmin.Utilities.ConstantVar.CurrentUserName " class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="@Url.Content("~/Account/Logout")" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active treeview">
                            <a href="@Url.Content("~/Home/Index")">
                                <i class="fa fa-dashboard"></i> <span>Home</span>
                            </a>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>Import</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Content("~/Import/Index")"><i class="fa fa-circle-o"></i>Import File</a></li>
                                <li><a href="@Url.Content("~/CanTap/Index")"><i class="fa fa-circle-o"></i>Tap Card</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i> <span>Export</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Content("~/Export/Index")"><i class="fa fa-circle-o"></i>Export Print File</a></li>
                                <li><a href="@Url.Content("~/Export/Ack")"><i class="fa fa-circle-o"></i>Export ACK File</a></li>
                            </ul>
                        </li>

                        @if (PassionCardAdmin.Utilities.ConstantVar.CurrentUserType == PassionCardAdmin.Enums.Enum.UserRole.Admin)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user-o"></i> <span>Profile</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="@Url.Content("~/User/UserList")"><i class="fa fa-circle-o"></i>User</a></li>
                                </ul>
                            </li>
                        }

                        @*<li class="treeview">
                            <a href="@Url.Content("~/ImageUpload/ResetImage")">
                                <i class="fa fa-picture-o"></i> <span>Allow Photo Change</span>
                            </a>
                        </li>*@

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-file"></i> <span>Reports</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Content("~/Report/FileReport")"><i class="fa fa-circle-o"></i>File Report</a></li>
                                <li><a href="@Url.Content("~/Report/RecordReport")"><i class="fa fa-circle-o"></i>Record Report</a></li>
                                <li><a href="@Url.Content("~/Report/SummaryReport")"><i class="fa fa-circle-o"></i>Sign Up Summary Report</a></li>
                                <li><a href="@Url.Content("~/Report/PrintBUReport")"><i class="fa fa-circle-o"></i>Sign Up Report</a></li>
                                @*<li><a href="@Url.Content("~/Report/PhotoResetReport")"><i class="fa fa-circle-o"></i>Photo Reset Report</a></li>*@
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            @Scripts.Render("~/bundles/commonjs")
            @Html.Partial("_Notify")
            <div class="content-wrapper">
                @RenderBody()
            </div>

            <footer class="main-footer">
                @Html.Partial("_footer")
            </footer>

        </div>

        <script>
            $(document).ready(function () {

                //Start For Notification
                $('#notification-container').notify({
                    expires: false,
                    speed: 1000
                });

                if (typeof appNotifications != 'undefined') {
                    $('#notification-container').notify('create', appNotifications.tpl, appNotifications, {
                        expires: 13000,
                        speed: 100, custom: true
                    });
                }
                //End For Notification

            });
        </script>
    </body>
}
</html>
<script>

    $(document).ready(function () {
        if (!flagLoding)
            $("#LoadingDiv").hide();
    });
</script>
