﻿
@{
    if (TempData.ContainsKey("notify"))
    {
        var n = (PassionCardAdmin.Helpers.Notify)TempData["notify"];
        var title = n.Level.ToString();
        var tpl = n.Level.ToString().ToLower();
        <script type="text/javascript">
        appNotifications = {
            title: '@(title)',
            text: '@(n.Message)',
            tpl: '@(tpl)'
        };
        </script>
    }
}

<div id="notification-container" style="display: none; left: 55%; top: 15px; height: 45px;">

    <div id="success" style="background-color: #eef8e5; border: 1px solid #b3df8a; width: 540px;">
        <h4>
            <span style="float: left; margin: 2px 2px 0 0;" class="fa fa-check"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            #{title}
            <a class="ui-notify-close" href="#">
                <span class="fa fa-times" style="float: right;color:black;"></span>
            </a>
        </h4>
        <p>
            #{text}
        </p>
    </div>

    <div id="error" style="background-color: #ff8369; border: 1px solid #b3df8a; width: 540px;">
        <h4>
            <span style="float: left; margin: 2px 2px 0 0;" class="fa fa-close"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            #{title}
            <a class="ui-notify-close" href="#">
                <span class="fa fa-times" style="float: right;color:black;"></span>
            </a>
        </h4>
        <p>
            #{text}
        </p>
    </div>

    <div id="info" style="background-color: #f0ff5b; border: 1px solid #b3df8a; width: 540px;">
        <h4>
            <span style="float: left; margin: 2px 2px 0 0;" class="fa fa-info"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            #{title}
            <a class="ui-notify-close" href="#">
                <span class="fa fa-times" style="float: right;color:black;"></span>
            </a>
        </h4>
        <p>
            #{text}
        </p>

    </div>

    <div id="warning" style="background-color: #fef5d3; border: 1px solid #9f6000; width: 540px;">
        <h4>
            <span style="float: left; margin: 2px 2px 0 0;" class="fa fa-exclamation-triangle"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            #{title}
            <a class="ui-notify-close" href="#">
                <span class="fa fa-times" style="float: right;color:black;"></span>
            </a>
        </h4>
        <p>
            #{text}
        </p>
    </div>

</div>
