﻿@*@model PassionCardAdmin.Models.FileImportModel*@

@{
    ViewBag.Title = "Import File";
}

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b> Import File</b></h3>
                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("Index", "Import", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <div class="form-group">
                                    <label>
                                        File Type
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.DropDownList("txtFileType", ((IEnumerable<PassionCardAdmin.Models.FileTypeModel>)ViewBag.FileTypeList).Select(option => new SelectListItem { Text = (option == null ? "None" : option.Text), Value = option.Text.ToString() }), new { @class = "form-control", @style = "float: right;", name = "txtFileType" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 text-right">
                                <div class="form-group">
                                    <label>
                                        Select File
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input id="uploadBtn" type="file" name="importFile" class="upload" accept=".txt" />
                                    @*@Html.ValidationMessageFor(model => model.Group_Name, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="col-md-2">

                            </div>
                        </div>



                        <div class="row">

                            <div class="col-md-2 col-md-offset-4">
                                <div class="form-group">
                                    <input type="submit" value="Upload" class="btn btn-block btn-primary" id="Submit" />
                                </div>
                            </div>

                        </div>

                    </div>
                }


            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#Submit").click(function (event) {
            $("#LoadingDiv").show();           
        });
    });
</script>
