﻿body {
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */

    .card-preview {
        width: 279px;
        height: 184px;
        background-image: url("images/CardPreview-Photo-mobile.png");
    }

    #preview-pane {
        width: 70px;
        height: 46px;
        left: 204px;
        top: 33px;
        position: absolute;
    }

        #preview-pane .preview-container {
            width: 70px;
            height: 46px;
            /*background-color: greenyellow;*/
            overflow: hidden;
        }

    .myimage-img {
        width: 240px;
        display: block;
    }

    .img-outer {
        background: gray;
        display: block;
        text-align: center;
        width: 240px;
        height: 240px;
        overflow: hidden;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
    .card-preview {
        width: 279px;
        height: 184px;
        background-image: url("images/CardPreview-Photo-mobile.png");
    }

    #preview-pane {
        width: 70px;
        height: 46px;
        left: 204px;
        top: 33px;
        position: absolute;
    }

        #preview-pane .preview-container {
            width: 70px;
            height: 46px;
            /*background-color: greenyellow;*/
            overflow: hidden;
        }

    .myimage-img {
        width: 240px;
        display: block;
    }

    .img-outer {
        display: block;
        text-align: center;
        width: 240px;
        height: 240px;
        overflow: hidden;
        background: gray;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

@media only screen and (min-width : 1024px) {
    /* Styles */
    .card-preview {
        width: 563px;
        height: 376px;
    }

    .male {
        background-image: url("images/CardPreview-Photo-male.png");
    }

    .female {
        background-image: url("images/CardPreview-Photo-female.png");
    }

    #preview-pane {
        width: 144px;
        height: 93px;
        left: 400px;
        top: 67px;
        position: absolute;
    }

        #preview-pane .preview-container {
            width: 278px;
            height: 178px;
            overflow: hidden;
        }

    #preview-pane-Text1 {
        width: 144px;
        height: 93px;
        left: 60px;
        top: 195px;
        position: absolute;
    }

    /*#preview-pane-Text1 .preview-container {
            width: 278px;
            height: 178px;
            overflow: hidden;
        }*/

    #preview-pane-Text2 {
        width: 144px;
        height: 93px;
        left: 60px;
        top: 215px;
        position: absolute;
    }

    #preview-pane-Text3 {
        width: 144px;
        height: 93px;
        left: 60px;
        top: 235px;
        position: absolute;
    }

    #preview-pane-Text4 {
        width: 144px;
        height: 93px;
        left: 60px;
        top: 255px;
        position: absolute;
    }

    .myimage-img {
        width: 500px;
    }

    .img-outer {
        display: block;
        text-align: center;
        width: 500px;
        height: 500px;
        overflow: hidden;
        background: gray;
    }
}
/*Loading span*/

.loading-Span-Ni {
    display: block;
    position: fixed;
    z-index: 10000;
    background-image: url('Images/orange-loading.gif');
    background-color: #666;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}