﻿/* Common stylesheet for the ORS Application */

.ors-table-header {
    background-color: #DD4B39;
    color: white;
}

.ors-search-filters {
    border: solid 2px green;
}

/* ----- Validation and error messages class starts -----*/

.validationheader {
    left: 0px;
    position: relative;
    font-size: 12px;
    background-color: #e5d9bd;
    color: #db4015;
    height: 14px;
    /*font-weight: bold;*/
    border-bottom: 1px solid #b08b34;
    padding-top: 3px;
}

/* -- --Validation and error messages class ends -- --*/

.alert-message-Ni {
    border-color: #e8d1df;
    color: #bd4247;
}

.alert-error-Ni {
    background-color: #FFC200;
    border-color: #e8d1df;
    color: #bd4247;
}

/*Loading span*/

.loading-Span-Ni {
    display: block;
    position: fixed;
    z-index: 10000;
    /*background-image: url('../../images/orange-loading.gif');*/
    background-color: #666;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

/* table header background */
.table-header {
    background-color: #00A65A;
    color: white;
}

/*Table header sorting classes*/
table.tablesorter thead tr .header {
    /*opacity: 0.2;
    content: "\e150";*/
    background-image: url(/Content/images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    min-width:120px;
}

table.tablesorter thead tr .headerSortUp {
    /*content: "\e155";*/
    background-image: url(/Content/images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    /*content: "\e156";*/
    background-image: url(/Content/images/desc.gif);
}

/*  Modal Dialog  */
.modal-open .modal .dropdown-menu {
    z-index: 2050;
}

.modal-open .modal .dropdown.open {
    *z-index: 2050;
}

.modal-open .modal .popover {
    z-index: 2060;
}

.modal-open .modal .tooltip {
    z-index: 2080;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

    .modal-backdrop.fade {
        opacity: 0;
    }

        .modal-backdrop,
        .modal-backdrop.fade.in {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    height: 270px;
    margin: -250px 0 0 -280px;
    overflow: auto;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

    .modal.fade {
        top: -25%;
        -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
        -o-transition: opacity 0.3s linear, top 0.3s ease-out;
        transition: opacity 0.3s linear, top 0.3s ease-out;
    }

        .modal.fade.in {
            top: 50%;
        }

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

    .modal-header .close {
        margin-top: 2px;
    }

    .modal-header h3 {
        margin: 0;
        line-height: 30px;
    }

.modal-body {
    max-height: 400px;
    padding: 15px;
    overflow-y: auto;
}

.modal-form {
    margin-bottom: 0;
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: white;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

    .modal-footer:before,
    .modal-footer:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .modal-footer:after {
        clear: both;
    }

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    /* hand on mouse hover */
.MouseHourHand {
    cursor: pointer;
    cursor: hand;
}
