﻿/*for Login Box*/
.login-box-body-Ni {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-top: 0;
    color: #666;
}

/*for background Image*/
html,
body {
    /*css for full size background image*/
    background: url('../../images/Background_Login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 100%;*/
    /*background-color: #060;*/
    /*color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/*for login image*/
.Login-Image {
    margin-bottom: 2%;
}

/*for link*/
.link-Style {
    color: white;
}

/*for login heading*/
.login-box-msg-Ni {
    font-weight: 600;
    font-size: 25px;
}

/*footer style on login page*/
.footer-Ni {
    margin-top: 50px;
    font-size: small;
}

.alert-message-Ni {
    border-color: #e8d1df;
    color: #bd4247;
}

.alert-error-Ni {
    background-color: #FFC200;
    border-color: #e8d1df;
    color: #bd4247;
}
