﻿@model PassionCardAdmin.Models.PhotoResetModel
@{
    ViewBag.Title = "Allow Photo Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b>Allow Photo Upload</b></h3>
                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("ResetImage", "ImageUpload", FormMethod.Post))
                {

                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-12">
                                <span class="validationheader text-left">
                                    <b>
                                        @Html.ValidationSummary(true, "!Allow photo to upload was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error-Ni col-lg-10 col-lg-offset-1 my-padding-10" })
                                    </b>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group text-right">
                                    <label>IC Number</label>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    @*<input type="text" id="txtICNumber" name="ICNumber" class="form-control" maxlength="10" />*@
                                    @Html.TextBoxFor(x => x.ICNumber, new { @id = "txtICNumber", @name = "ICNumber", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ICNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="button" value="Search" class="btn btn-block btn-primary" id="BtnSearch" />
                                </div>
                            </div>
                        </div>

                        <div id="CardDetails">

                            <div class="row">
                                <div class="col-sm-5 col-md-5">
                                    <div class="row">
                                        <div class="col-md-2">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            &nbsp;
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group text-right">
                                                <label>Card Status</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="txtCardStatus" name="CardStatus" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group text-right">
                                                <label>Name</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="txtName" name="Name" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group text-right">
                                                <label>Passion Card Number</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="txtPCN" name="PCN" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group text-right">
                                                <label>E-Mail</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="txtEMAIL" name="EMail" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group text-right">
                                                <label>Birthday</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="txtBirthday" name="Birthday" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group text-right">
                                                <label>Card CAN Number</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" id="txtCCN" name="Card Can Number" class="form-control" readonly="readonly" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-7 col-md-7">
                                    <div class="card-preview male">

                                        <div id="preview-pane">
                                            <div class="preview-container">
                                                <img id="previewimage" src="" class="jcrop-preview" alt="Preview not available" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-lg-offset-3">
                                    <div class="form-group text-right">
                                        <input type="submit" value="Approve Photo Change" class="btn btn-block btn-primary" id="BtnAllow" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="button" value="Reset" class="btn btn-block btn-primary" id="BtnReset" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2 text-center">
                                <label style="color:red;font-size:20px;" id="message"></label>
                            </div>
                        </div>

                        @if (Model != null && Model.isShowMessage == true)
                        {
                            <div class="row" id="successMessage">
                                <div class="col-md-8 col-lg-offset-2 text-center">
                                    <label style="color:green;font-size:20px;">The Photo status changed successfully.</label>
                                </div>
                            </div>
                        }

                    </div>

                }
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        $('#CardDetails').hide();
        $('#message').hide();        
        $('#txtICNumber').focus();

        //Reset Button click event
        $('#BtnReset').click(function () {
            $('#txtICNumber').val("");
            $('#txtCardStatus').val("");
            $('#txtName').val("");
            $('#txtPCN').val("");
            $('#txtEMAIL').val("");
            $('#txtBirthday').val("");
            $('#txtCCN').val("");
            document.getElementById('previewimage').setAttribute('src', 'data:image/png;,' + "");
            $('#CardDetails').hide();
            $('#message').hide();
            $('#txtICNumber').focus();
            $('#successMessage').hide();
        });

        //Serach Button click event
        $('#BtnSearch').click(function () {
            GetData();
        });

        //Applies the details for appropriate field.
        function GetData() {
            var icnumber = $('#txtICNumber').val();

            if (icnumber == "" || icnumber == null) {
                $('#message').show();
                $('#CardDetails').hide();
                $('#message').html("Enter IC Number");
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/ImageUpload/GetICNumberData")',
                    data: { ICNumber: icnumber },
                    success: function (data) {

                        if (data.data != null) {

                            if (data.data.PictureUpdated === true) {
                                $('#CardDetails').show();
                                $('#message').hide();

                                if (data.data.Gender == "001")
                                    $(".card-preview").removeClass("male").removeClass("female").addClass("male")
                                else
                                    $(".card-preview").removeClass("male").removeClass("female").addClass("female")
                                $('#txtCardStatus').val(data.data.RecordStatus);
                                $('#txtName').val(data.data.Name);
                                $('#txtPCN').val(data.data.PAssionCardNumber);
                                $('#txtEMAIL').val(data.data.EmailAddress);
                                $('#txtBirthday').val(data.data.BirthdayStr);
                                $('#txtCCN').val(data.data.CardCANNumber);

                                if (data.img != null)
                                    document.getElementById('previewimage').setAttribute('src', 'data:image/png;base64,' + data.img);
                                else
                                    document.getElementById('previewimage').setAttribute('src', 'data:image/png;,' + "");
                                $("#previewimage").css("width", 144);
                            }
                            else {
                                $('#message').show();
                                $('#CardDetails').hide();
                                $('#successMessage').hide();
                                $('#message').html("photo not uploaded for this record");
                            }
                        }
                        else {
                            $('#message').show();
                            $('#CardDetails').hide();
                            $('#successMessage').hide();
                            $('#message').html("No record found for entered IC Number");
                        }
                    },
                    error: function (e) {
                        console.log(e);
                        $('#LoadingDiv').hide();
                    }
                });
            }
        }
    });
</script>
