﻿body {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

/*@media only screen and (max-width: 320px) {
     /* Styles */
.card-preview {
    width: 280px;
    height: 186px;
    /*background-image: url("images/CardPreview-Photo.png");*/
}

.male {
    background-image: url("images/CardImages/CardPreview-Photo-male-320.png");
}

.female {
    background-image: url("images/CardImages/CardPreview-Photo-female-320.png");
}

#preview-pane {
    width: 70px;
    height: 46px;
    left: 204px;
    top: 33px;
    position: absolute;
}

    #preview-pane .preview-container {
        width: 70px;
        height: 46px;
        overflow: hidden;
    }

.myimage-img {
    width: 240px;
}

.img-outer {
    display: block;
    text-align: center;
    width: 240px;
    height: 240px;
    overflow: hidden;
    background: gray;
}

@media only screen and (min-width : 320px) {
    /* Styles */
    .card-preview {
        width: 280px;
        height: 186px;
        /*background-image: url("images/CardPreview-Photo.png");*/
    }

    .male {
        background-image: url("images/CardImages/CardPreview-Photo-male-320.png");
    }

    .female {
        background-image: url("images/CardImages/CardPreview-Photo-female-320.png");
    }

    #preview-pane {
        width: 70px;
        height: 46px;
        left: 204px;
        top: 33px;
        position: absolute;
    }

        #preview-pane .preview-container {
            width: 70px;
            height: 46px;
            overflow: hidden;
        }

    .myimage-img {
        width: 240px;
    }

    .img-outer {
        display: block;
        text-align: center;
        width: 240px;
        height: 240px;
        overflow: hidden;
        background: gray;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    /* Styles */
    .card-preview {
        width: 420px;
        height: 280px;
        /*background-image: url("images/CardPreview-Photo.png");*/
    }

    .male {
        background-image: url("images/CardImages/CardPreview-Photo-male-480.png");
    }

    .female {
        background-image: url("images/CardImages/CardPreview-Photo-female-480.png");
    }

    #preview-pane {
        width: 105px;
        height: 69px;
        left: 306px;
        top: 49.5px;
        position: absolute;
    }

        #preview-pane .preview-container {
            width: 105px;
            height: 69px;
            overflow: hidden;
        }

    .myimage-img {
        width: 340px;
    }

    .img-outer {
        display: block;
        text-align: center;
        width: 340px;
        height: 340px;
        overflow: hidden;
        background: gray;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /* Styles */
    .card-preview {
        width: 672px;
        height: 448px;
        /*background-image: url("images/CardPreview-Photo.png");*/
    }

    .male {
        background-image: url("images/CardImages/CardPreview-Photo-male-768.png");
    }

    .female {
        background-image: url("images/CardImages/CardPreview-Photo-female-768.png");
    }

    #preview-pane {
        width: 168px;
        height: 110.4px;
        left: 489.6px;
        top: 79.2px;
        position: absolute;
    }

        #preview-pane .preview-container {
            width: 168px;
            height: 110px;
            overflow: hidden;
        }

    .myimage-img {
        width: 440px;
    }

    .img-outer {
        display: block;
        text-align: center;
        width: 440px;
        height: 440px;
        overflow: hidden;
        background: gray;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* Styles */
    .card-preview {
        width: 868px;
        height: 578px;
        /*background-image: url("images/CardPreview-Photo.png");*/
    }

    .male {
        background-image: url("images/CardImages/CardPreview-Photo-male-992.png");
    }

    .female {
        background-image: url("images/CardImages/CardPreview-Photo-female-992.png");
    }

    #preview-pane {
        width: 217px;
        height: 142.6px;
        left: 632.4px;
        top: 102.3px;
        position: absolute;
    }

        #preview-pane .preview-container {
            width: 217px;
            height: 142.6px;
            overflow: hidden;
        }

    .myimage-img {
        width: 500px;
    }

    .img-outer {
        display: block;
        text-align: center;
        width: 500px;
        height: 500px;
        overflow: hidden;
        background: gray;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* Styles */
    .card-preview {
        width: 868px;
        height: 578px;
        /*background-image: url("images/CardPreview-Photo.png");*/
    }

    .male {
        background-image: url("images/CardImages/CardPreview-Photo-male-992.png");
    }

    .female {
        background-image: url("images/CardImages/CardPreview-Photo-female-992.png");
    }

    #preview-pane {
        width: 217px;
        height: 142.6px;
        left: 632.4px;
        top: 102.3px;
        position: absolute;
    }

        #preview-pane .preview-container {
            width: 217px;
            height: 142.6px;
            overflow: hidden;
        }

    .myimage-img {
        width: 500px;
    }

    .img-outer {
        display: block;
        text-align: center;
        width: 500px;
        height: 500px;
        overflow: hidden;
        background: gray;
    }
}
