﻿@model PassionCardAdmin.Models.ExportModelList
@{
    ViewBag.Title = "Export Acknowledgement";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b> Export Acknowledgement</b></h3>
                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("ACK", "Export", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-2">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group text-right">
                                    <label>Date</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" id="ackDate" name="ackDate" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-2 col-md-offset-4 pull-right">
                                <div class="form-group" id="SubmitDiv">
                                    <input type="submit" value="Export" class="btn btn-block btn-primary" id="Submit" />
                                </div>
                                <div class="form-group hidden" id="RefreshDiv">
                                    <a href="@Url.Content("~/Export/ACK")" class="btn btn-block btn-primary" id="Refresh">Refresh Data</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class=" table-responsive">
                                    <table id="RecordReport-table" class="table table-bordered  table-striped tablesorter">
                                        <thead class="ors-table-header-- table-header">
                                            <tr>
                                                <th class="text-center"><input type="checkbox" style="zoom:1.3;" checked="checked" id="chkCheckUnCheckAll" /></th>
                                                <th class="text-center">Sr No</th>
                                                <th class="text-center">Record ID</th>
                                                <th class="text-center">ID Number</th>
                                                <th class="text-center">Name On Card</th>
                                                <th class="text-center">PAssion Card Number</th>
                                                @*<th class="text-center">Birthday</th>*@
                                                <th class="text-center">Gender</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int index = 0; index < Model.MainExportModel.Count; index++)
                                            {
                                                <tr>
                                                    <td class="text-center">@Html.CheckBoxFor(x => x.MainExportModel[index].IsChecked, new { @class = "chkCheckbox" })</td>
                                                    <td class="text-center">@Model.MainExportModel[index].SrNum</td>
                                                    @Html.HiddenFor(x => x.MainExportModel[index].SrNum)
                                                    <td class="text-center">@Model.MainExportModel[index].RecordID</td>
                                                    @Html.HiddenFor(x => x.MainExportModel[index].RecordID)
                                                    <td class="text-center">@Model.MainExportModel[index].IDNumber</td>
                                                    @Html.HiddenFor(x => x.MainExportModel[index].IDNumber)
                                                    <td class="text-center">@Model.MainExportModel[index].NameOnCard</td>
                                                    @Html.HiddenFor(x => x.MainExportModel[index].NameOnCard)
                                                    <td class="text-center">@Model.MainExportModel[index].PAssionCardNumber</td>
                                                    @Html.HiddenFor(x => x.MainExportModel[index].PAssionCardNumber)
                                                    <td class="text-center">@Model.MainExportModel[index].Gender</td>
                                                    @Html.HiddenFor(x => x.MainExportModel[index].Gender)
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/commonDatejs")

<script>
    $(document).ready(function () {

        //Datepicker Binding
        $('#ackDate').datepicker({ format: "dd M yyyy", autoclose: true });

        //submit button on this button click
        $("#Submit").click(function (event) {
            if ($('.chkCheckbox:checked').size() == 0) {
                return false;
            }
            if ($('.chkCheckbox:checked').size() > 0) {
                $("#form").submit();
            }
            $("#RefreshDiv").removeClass("hidden");
            $("#SubmitDiv").addClass("hidden");
        });

        //Rfersh page on this button click
        //$("#Refresh").click(function (event) {
        //    $("#LoadingDiv").show();
        //    window.location.reload();
        //});


        //check all checkboxes on checkall button click.
        $('#chkCheckUnCheckAll').change(function () {
            if ($(this).is(":checked")) {
                $('.chkCheckbox').prop('checked', true);
            }
            else {
                $('.chkCheckbox').prop('checked', false);
            }
        });

        //Check box event for checkall on all checkboxes checked and viceversa.
        $('.chkCheckbox').change(function () {
            if ($('.chkCheckbox:checked').size() < $('.chkCheckbox').size()) {
                $('#chkCheckUnCheckAll').prop('checked', false);
            }
            else if ($('.chkCheckbox:checked').size() == $('.chkCheckbox').size()) {
                $('#chkCheckUnCheckAll').prop('checked', true);
            }
        });
    });
</script>