﻿<div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Sr No.</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn1" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Record ID</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn2" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Action Flags</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn3" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Name</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn4" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Name On Card</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn5" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>ID Type</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn6" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>ID Number</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn7" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>PAssion Card Number</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn8" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Preferred BU</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn9" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Email Address</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn10" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>MA Block House No</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn11" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>MA Street Name</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn12" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>MA Floor No</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn13" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>MA Unit No</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn14" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>MA Building Name</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn15" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>MA Postal Code</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn16" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>HA BlockHouse No</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn17" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>HA Street Name</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn18" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>HA Floor No</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn19" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>HA Unit No</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn20" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>HA Building Name</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn21" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>HA Postal Code</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn22" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Expiry Date</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn23" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Hp Number</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn24" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Contact Number Home</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn25" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>WV</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn26" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>PAYM</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn27" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>CoBranded</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn28" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>CoBranded Card Type</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn29" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Card Type Flag</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn30" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Birthday</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn31" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Gender</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn32" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Marital Status</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn33" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Annual Income</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn34" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Housing Type</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn35" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Highest Education Level</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn36" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Print BU</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn37" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Preferred WV</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn38" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Billing BU</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn39" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Old Passionez Link Number</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn40" type="checkbox" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Nationality</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn41" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Title</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn42" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Race</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn43" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Occupation</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn44" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>User Id</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn45" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>File Master Id</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn46" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Record Created Date</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn47" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Record Modified Date</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn48" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Picture Updated</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn49" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Picture File</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn50" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Picture</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn51" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Send In Print File</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn52" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Print File Ref Id</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn53" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Card CAN Number</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn54" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Card CAN Expiry Date</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn55" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Send Ack</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn56" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Ack File Ref Id</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn57" type="checkbox" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Record Status</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn58" type="checkbox" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Record Status Update Date</label>
            </div>
            <div class="col-md-2 disabled">
                <input id="chkColumn59" type="checkbox" />
            </div>
        </div> 
        <div class="col-md-6">
            <div class="col-md-10">
                <label>Action</label>
            </div>
            <div class="col-md-2">
                <input id="chkColumn60" type="checkbox" />
            </div>
        </div>      
    </div>
</div>
