﻿@model PassionCardAdmin.Models.CardEditModel
@{
    ViewBag.Title = "Edit Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b> Edit Record</b></h3>
                        </div>

                    </div>
                </div>

                @using (Html.BeginForm("EditRecord", "Report", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.RecordId)
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="validationheader text-left">
                                            <b>
                                                @Html.ValidationSummary(true, "! Record changes unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error-Ni col-lg-10 col-lg-offset-1 my-padding-10" })
                                            </b>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <div class="form-group">
                                            <label>
                                                Card CAN Number
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CardCANNumber, htmlAttributes: new { @class = "form-control col-md-3", @id = "txtCardCANNumber", autocomplete = "off", maxlength = "16", onpaste = "return false" })
                                            @Html.ValidationMessageFor(model => model.CardCANNumber, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <div class="form-group">
                                            <label>
                                                Card CAN Expiry Date
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.TextBoxFor(model => model.CardCANExpiryDt, htmlAttributes: new { @class = "form-control col-md-3", @id = "txtCardCANExpiryDt", autocomplete = "off", maxlength = "4", onpaste = "return false" })
                                            @Html.ValidationMessageFor(model => model.CardCANExpiryDt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" value="Update" class="btn btn-block btn-primary" id="BtnSave" />
                                    </div>
                                    <div class="col-md-2">
                                        <a value="Update" class="btn btn-block btn-warning" href="@Url.Content("~/Report/RecordReport")">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>