﻿@model PassionCardAdmin.Models.PhotoResetReportModel
@{
    ViewBag.Title = "Photo Reset Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b>Photo Reset Report</b></h3>

                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("PhotoResetReport", "Report", FormMethod.Post))
                {
                <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Search Filter</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 text-right">
                                        <div class="form-group">
                                            <label>
                                                Date
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd MMM yyyy}", new { @class = "form-control pull-right", @id = "txtFromDate", @placeholder = "From Date" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <div class="form-group">
                                            <label>
                                                TO
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @Html.TextBoxFor(model => model.ToDate, "{0:dd MMM yyyy}", new { @class = "form-control pull-right", @id = "txtToDate", @placeholder = "To Date" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 text-right">
                                        <div class="form-group">
                                            <label>
                                                Advanced Filters
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.ICNumber, new { @class = "form-control ", @placeholder = "IC Number", @id = "txtICNumber" })
                                            @*<input id="txtICNumber" type="text" class="form-control " placeholder="IC Number">*@
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        &nbsp;
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="button" id="btnSearch" class="btn btn-block btn-primary pull-right" value="Filter" />
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-md-offset-1">
                                        <div class="form-group">
                                            <input type="submit" id="btnDownloadExcel" class="btn btn-block btn-primary pull-right" value="Download Excel" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10">
                                        &nbsp;
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class=" table-responsive">
                                    <table id="RecordReport-table" class="table table-bordered tablesorter">
                                        <thead class="ors-table-header-- table-header">
                                            <tr>
                                                <th class="text-center">Sr No.</th>
                                                <th class="text-center Sortactive">IC Number</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Admin</th>
                                                <th class="text-center">Created Date</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                            </div>
                            <div class="col-sm-8 col-md-8 text-center">
                                <div id="page-selection"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>
@Scripts.Render("~/bundles/commonDatejs")
@Scripts.Render("~/bundles/paginationjs")

<script>

    $('#txtFromDate').datepicker({ format: "dd M yyyy", autoclose: true });

    $('#txtToDate').datepicker({ format: "dd M yyyy", autoclose: true });

    GetData(1, $('#page-selection'), true);

    //Filter button click event.
    $('#btnSearch').click(function (e) {
        GetData(1, $('#page-selection'), false);
    });

    //Gets Data from Database using AJAX
    function GetData(page, bootPag, flag) {
        $('#LoadingDiv').show();

        var data = {
            PageSize: 10,
            PageIndex: page,
            IsSearch: false
        };

        var idNumber = $('#txtICNumber').val();
        var fromDate = $('#txtFromDate').val();
        var ToDate = $('#txtToDate').val();

        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Report/GetImageReport")',
            data: { page: page, rows: 10, IDNumber: idNumber, FromDate: fromDate, ToDate: ToDate },
            async: true,
            success: function (data) {

                if (flag) {
                    InitializePagination(data.total, data.page);
                }
                else {
                    if (data.total == 0 && data.page == 0) {
                        $('#page-selection ul').html("");
                    }
                    else
                        bootPag.bootpag({
                            total: data.total,
                            page: data.page,
                            maxVisible: 10,
                            leaps: true,
                            firstLastUse: true,
                            first: '←',
                            last: '→',
                            wrapClass: 'pagination',
                            activeClass: 'active',
                            disabledClass: 'disabled',
                            nextClass: 'next',
                            prevClass: 'prev',
                            lastClass: 'last',
                            firstClass: 'first'
                        });
                }

                var tableBody = "";
                if (data) {

                    var row = "";
                    var sum = 0;

                    if (data.data.length == 0) {
                        row = '<tr>' +
                             '<td colspan="5" style="text-align: center" class="nodata">' + 'No data available in table' + '</td>' +
                         '</tr>';

                        tableBody = tableBody + (row);
                    }
                    else {
                        for (var i = 0; i < data.data.length; i++) {
                            var recordDetails = data.data[i];
                            var trTag = '<tr>';
                            if (recordDetails.IsHighlight == true) {
                                trTag = '<tr style="background-color:#FCD5B4;">'
                            }
                            row +=
                                trTag
                                             +
                                            '<td style="text-align: center">' + recordDetails.SrNo + '</td>' +
                                            '<td style="text-align: center">' + recordDetails.ICNumber + '</td>' +
                                            '<td style="text-align: center">' + recordDetails.Name + '</td>' +
                                            '<td style="text-align: center">' + recordDetails.Admin + '</td>' +
                                            '<td style="text-align: center">' + recordDetails.CreatedDateStr + '</td>' + '</tr>';
                        }

                        tableBody = tableBody + (row);
                        row = "";
                    }
                }

                $('#RecordReport-table tbody').html(tableBody);

                $('#LoadingDiv').hide();

            },
            error: function (e) {
                console.log(e);
                //alert(e);
                $('#LoadingDiv').hide();
            }
        });
    }

    function InitializePagination(totalPages, CurrentPage) {
        // init bootpag
        $('#page-selection').bootpag({
            total: totalPages,
            page: CurrentPage,
            maxVisible: 10,
            leaps: true,
            firstLastUse: true,
            first: '←',
            last: '→',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function (event, num) {
            GetData(num, $(this), false);
        });
    }

</script>
