﻿@model PassionCardAdmin.Models.PrintBUReportModel
@{
    ViewBag.Title = "Sign Up Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/treecss")

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b>Sign Up Report</b></h3>

                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("PrintBUReport", "Report", FormMethod.Post))
                {
                <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Search Filter</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 text-right">
                                        <div class="form-group">
                                            <label>
                                                Date
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @*<input type="text" class="form-control" id="txtFromDate" placeholder="From Date" name="txtFromDate">*@
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd MMM yyyy}", new { @class = "form-control pull-right", @id = "txtFromDate", placeholder = "From Date" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <div class="form-group">
                                            <label>
                                                TO
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                @*<input type="text" class="form-control" id="txtToDate" placeholder="To Date" name="txtToDate">*@
                                                @Html.TextBoxFor(model => model.ToDate, "{0:dd MMM yyyy}", new { @class = "form-control pull-right", @id = "txtToDate", placeholder = "To Date" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <a id="btnSearch" class="btn btn-block btn-primary pull-right">Filter</a>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button type="submit" id="btnDownload" class="btn btn-block btn-primary pull-right">Download Excel&nbsp;<span class="fa fa-download fa-fw" title="Download"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class=" table-responsive">
                                    <table id="PrintBUReport-table" class="table table-bordered tablesorter tree">
                                        <thead class="ors-table-header-- table-header">
                                            <tr>
                                                <th></th>
                                                @*<th class="text-center">Record ID</th>*@
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Gender</th>
                                                <th class="text-center">ID Number</th>
                                                <th class="text-center">Date of Birth</th>
                                                <th class="text-center">PAssion Card Number</th>
                                                <th class="text-center">Expiry Date </th>
                                                <th class="text-center">Record creation date</th>
                                                <th class="text-center">Picture Upload Date</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                </div>
                                <div class="col-sm-8 col-md-8 text-center">
                                    <!--<div class="dataTables_paginate paging_simple_numbers" id="Staff_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button disabled MouseHourHand" id="Staff_previous">
                                                <a class="previous" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                                            </li>
                                            <li class="paginate_button txtbox">
                                                <a aria-controls="example1" data-dt-idx="1" tabindex="0">
                                                    page
                                                    <span id="currentPage" type="text" style="width: 30px;">@*Model.page*@1</span>
                                                    of <span id="spnTotalPages">@*Model.total*@1 </span>
                                                </a>

                                            </li>
                                            <li class="paginate_button MouseHourHand" id="Staff_next"><a class="Next" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li>
                                        </ul>
                                    </div>-->
                                    <div id="page-selection"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/commonDatejs")
@Scripts.Render("~/bundles/treejs")
@Scripts.Render("~/bundles/paginationjs")

<script>
    $('#txtFromDate').datepicker({ format: "dd M yyyy", autoclose: true });

    $('#txtToDate').datepicker({ format: "dd M yyyy", autoclose: true });

    //Set initial date in datepicker.
    var date = new Date();
    $('#txtToDate').datepicker("setDate", formatDate(date));
    date.setMonth(date.getMonth() - 1);
    $('#txtFromDate').datepicker("setDate", formatDate(date));
    GetData(1, $('#page-selection'), true);

    //Format date in jquery.
    function formatDate(jsonDate) {
        var m_names = new Array("Jan", "Feb", "Mar",
"Apr", "May", "Jun", "Jul", "Aug", "Sep",
"Oct", "Nov", "Dec");
        var date = (jsonDate.getDate() < 10 ? '0' : '') + jsonDate.getDate() +
                               " " +
                   m_names[jsonDate.getMonth()] +
                               " " +
               jsonDate.getFullYear();
        return date;
    }

    //Filter button click event.
    $('#btnSearch').click(function (e) {
        GetData(1, $('#page-selection'), false);
    });

    //Gets Data from Database using AJAX
    function GetData(page, bootPag, flag) {
        $('#LoadingDiv').show();

        var data = {
            PageSize: 10,
            PageIndex: page,
            IsSearch: false
        };

        var fromDate = $('#txtFromDate').val();
        var ToDate = $('#txtToDate').val();

        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Report/GetPrintBUReport")',
            data: { page: page, rows: 25, FromDate: fromDate, ToDate: ToDate },
            success: function (data) {
                var tableBody = "";
                //console.log("Success" + data);
                if (data) {

                    if (flag) {
                        InitializePagination(data.total, data.page);
                    }
                    else {
                        if (data.total == 0 && data.page == 0) {
                            $('#page-selection ul').html("");
                        }
                        else
                            bootPag.bootpag({
                                total: data.total,
                                page: data.page,
                                maxVisible: 10,
                                leaps: true,
                                firstLastUse: true,
                                first: '←',
                                last: '→',
                                wrapClass: 'pagination',
                                activeClass: 'active',
                                disabledClass: 'disabled',
                                nextClass: 'next',
                                prevClass: 'prev',
                                lastClass: 'last',
                                firstClass: 'first'
                            });
                    }

                    var row = "";
                    var sum = 0;

                    if (data.data.length == 0) {
                        row = '<tr>' +
                             '<td colspan="11" style="text-align: center" class="nodata">' + 'No data available in table' + '</td>' +
                         '</tr>';

                        tableBody = tableBody + (row);
                    }
                    else {
                        index = 0;
                        //console.log(data.data);
                        for (var i = 0; i < data.data.length; i++) {
                            var recordDetails = data.data[i];
                            //console.log(recordDetails)

                            var id1 = (++index);
                            row += '<tr class="treegrid-' + id1 + '"  style="background-color:#F9F9F9"><td colspan="1">' + recordDetails.Title + '</td><td colspan="11">Additional info</td></tr>';

                            for (var j = 0; j < recordDetails.cardModelList.length; j++) {
                                var recordDetails1 = recordDetails.cardModelList[j];
                                var id2 = (++index);
                                row += '<tr class="treegrid-' + id2 + ' treegrid-parent-' + id1 + '"><td colspan="1">' + recordDetails1.Title + '</td><td colspan="11">' + recordDetails1.PrintBUValue + '</td></tr>';

                                for (var k = 0; k < recordDetails1.cardModelList.length; k++) {
                                    var recordDetails2 = recordDetails1.cardModelList[k];

                                    row += '<tr class="treegrid-' + (++index) + ' treegrid-parent-' + id2 + '">' +
                                        '<td colspan="1"></td>' +
                                           //'<td>' + recordDetails2.RecordID + '</td>' +
                                           '<td>' + recordDetails2.Name + '</td>' +
                                           '<td>' + GetGender(recordDetails2.Gender) + '</td>' +
                                           '<td>' + GetMaskedValue(recordDetails2.IDNumber) + '</td>' +
                                           '<td>' + recordDetails2.BirthdayStr + '</td>' +
                                           '<td>' + recordDetails2.PAssionCardNumber + '</td>' +
                                           '<td>' + recordDetails2.ExpiryDateStr + '</td>' +
                                           '<td>' + recordDetails2.RecordCreatedDtStr + '</td>' +
                                           '<td>' + recordDetails2.RecordStatusUpdateDtStr + '</td>' +
                                           '</tr>';
                                }
                            }

                            tableBody = tableBody + (row);
                            row = "";
                        }
                    }

                    $('#PrintBUReport-table tbody').html(tableBody);
                    $('.tree').treegrid({
                        expanderExpandedClass: 'glyphicon glyphicon-minus',
                        expanderCollapsedClass: 'glyphicon glyphicon-plus',
                        initialState: 'collapsed'
                    });
                }
                $('#LoadingDiv').hide();
            },
            error: function (e) {
                console.log(e);
                alert("Error" + e);
                $('#LoadingDiv').hide();
            }
        });
    }

    //gets gender from value
    function GetGender(gender) {
        if (gender == "001")
            return "Female";
        else if (gender == "002")
            return "Male";
    }

    function GetMaskedValue(data) {
        var lastFive = data.substr(data.length - 5);
        return "TXXX" + lastFive;
    }
</script>
<script>
    function InitializePagination(totalPages, CurrentPage) {
        // init bootpag
        $('#page-selection').bootpag({
            total: totalPages,
            page: CurrentPage,
            maxVisible: 10,
            leaps: true,
            firstLastUse: true,
            first: '←',
            last: '→',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function (event, num) {
            GetData(num, $(this), false);
        });
    }
</script>
