﻿@{
    ViewBag.Title = "Record Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b>Record Report</b></h3>

                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("Transaction", "Report", FormMethod.Post))
                {
                    @*@Html.HiddenFor(x => x.SortColumn, new { @id = "txtSortColumnServer" })
                        @Html.HiddenFor(x => x.SortOrder, new { @id = "txtSortOrderServer" })*@
                <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Search Filter</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 text-right">
                                        <div class="form-group">
                                            <label>
                                                Date
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control" id="txtFromDate" placeholder="From Date">
                                                @*@Html.TextBoxFor(model => model.FromDate, "{0:dd MMM yyyy}", new { @class = "form-control pull-right", @id = "txtFromDate" })*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <div class="form-group">
                                            <label>
                                                TO
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control" id="txtToDate" placeholder="To Date">
                                                @*@Html.TextBoxFor(model => model.ToDate, "{0:dd MMM yyyy}", new { @class = "form-control pull-right", @id = "txtToDate" })*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 text-right">
                                        <div class="form-group">
                                            <label>
                                                Advanced Filters
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input id="txtCardCANNumber" type="text" class="form-control " placeholder="Card CAN Number">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input id="txtIDNumber" type="text" class="form-control  " placeholder="ID Number">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input id="txtBirthday" type="text" class="form-control " placeholder="Birthday">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>
                                                &nbsp;
                                            </label>
                                        </div>
                                    </div>


                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input id="txtPAssionCardNumber" type="text" class="form-control" placeholder="PAssion Card Number">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input id="txtRecordStatus" type="text" class="form-control " placeholder="Record Status">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input id="txtNameOnCard" type="text" class="form-control " placeholder="Name On Card">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <a id="btnSearch" class="btn btn-block btn-primary pull-right">Filter</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <a class="btn btn-block btn-primary" onclick="javascript:ShowHideColumn()">Show / Hide Columns</a>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        &nbsp;
                                    </div>

                                    @* <div class="col-md-2">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-block btn-primary">
                                                    Download Excel  &nbsp; <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>*@
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class=" table-responsive">
                                    <table id="RecordReport-table" class="table table-bordered  table-striped tablesorter">
                                        <thead class="ors-table-header-- table-header">
                                            <tr>
                                                <th class="text-center">Sr No.</th>
                                                <th class="text-center header Sortactive">Record ID</th>
                                                <th class="text-center header">Action Flags</th>
                                                <th class="text-center header">Name</th>
                                                <th class="text-center header">Name On Card</th>
                                                <th class="text-center header" style="min-width: 100px;">ID Type</th>
                                                <th class="text-center header">ID Number</th>
                                                <th class="text-center header">PAssion Card Number</th>
                                                <th class="text-center header">Preferred BU</th>
                                                <th class="text-center header">Email Address</th>
                                                <th class="text-center header">MA Block House No</th>
                                                <th class="text-center header">MA Street Name</th>
                                                <th class="text-center header">MA Floor No</th>
                                                <th class="text-center header">MA Unit No</th>
                                                <th class="text-center header">MA Building Name</th>
                                                <th class="text-center header">MA Postal Code</th>
                                                <th class="text-center header">HA BlockHouse No</th>
                                                <th class="text-center header">HA Street Name</th>
                                                <th class="text-center header">HA Floor No</th>
                                                <th class="text-center header">HA Unit No</th>
                                                <th class="text-center header">HA Building Name</th>
                                                <th class="text-center header">HA Postal Code</th>
                                                <th class="text-center header">Expiry Date</th>
                                                <th class="text-center header">Hp Number</th>
                                                <th class="text-center header">Contact Number Home</th>
                                                <th class="text-center header">WV</th>
                                                <th class="text-center header">PAYM</th>
                                                <th class="text-center header">CoBranded</th>
                                                <th class="text-center header">CoBranded Card Type</th>
                                                <th class="text-center header">Card Type Flag</th>
                                                <th class="text-center header">Birthday</th>
                                                <th class="text-center header">Gender</th>
                                                <th class="text-center header">Marital Status</th>
                                                <th class="text-center header">Annual Income</th>
                                                <th class="text-center header">Housing Type</th>
                                                <th class="text-center header">Highest Education Level</th>
                                                <th class="text-center header">Print BU</th>
                                                <th class="text-center header">Preferred WV</th>
                                                <th class="text-center header">Billing BU</th>
                                                <th class="text-center header">Old Passionez Link Number</th>
                                                <th class="text-center header">Nationality</th>
                                                <th class="text-center header">Title</th>
                                                <th class="text-center header">Race</th>
                                                <th class="text-center header">Occupation</th>
                                                <th class="text-center header">User Id</th>
                                                <th class="text-center header">File Master Id</th>
                                                <th class="text-center header">Record Created Date</th>
                                                <th class="text-center header">Record Modified Date</th>
                                                <th class="text-center header">Picture Updated</th>
                                                <th class="text-center header">Picture File</th>
                                                <th class="text-center setHide">Picture</th>
                                                <th class="text-center header">Send In Print File</th>
                                                <th class="text-center header">Print File Ref Id</th>
                                                <th class="text-center header">Card CAN Number</th>
                                                <th class="text-center header">Card CAN Expiry Date</th>
                                                <th class="text-center header">Send Ack</th>
                                                <th class="text-center header">Ack File Ref Id</th>
                                                <th class="text-center header">Record Status</th>
                                                <th class="text-center header">Record Status Update Date</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-2 col-md-2">
                            </div>
                            <div class="col-sm-8 col-md-8 text-center">
                                <!-- <div class="dataTables_paginate paging_simple_numbers" id="Staff_paginate">
                                     <ul class="pagination">
                                         <li class="paginate_button disabled MouseHourHand" id="Staff_previous">
                                             <a class="previous" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                                         </li>
                                         <li class="paginate_button txtbox">
                                             <a aria-controls="example1" data-dt-idx="1" tabindex="0">
                                                 page
                                                 <span id="currentPage" type="text" style="width: 30px;">@*Model.page*@1</span>
                                                 of <span id="spnTotalPages">@*Model.total*@1 </span>
                                             </a>

                                         </li>
                                         <li class="paginate_button MouseHourHand" id="Staff_next"><a class="Next" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li>
                                     </ul>
                                 </div>-->
                                <div id="page-selection"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal" id="DlgColumnTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-toggle="lightbox"
         style="display: none; width: 660px; height: 520px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                ×
            </button>
            <h3 id="myModalLabel">Show / Hide Columns</h3>
        </div>
        <div class="modal-body">
            @Html.Partial("_ShowHideColumns")
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <a class="btn btn-primary btnShowHideColOk">Ok</a>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/commonDatejs")
@Scripts.Render("~/bundles/paginationjs")

<script type="text/javascript">
    //Show / Hide button click event.
    function ShowHideColumn(BillNo) {
        $("#DlgColumnTable").modal("show");
        GetColumnValues();
    }

    //Ok button click event.
    $(".btnShowHideColOk").click(function () {
        SetColumnValues();
        $("#DlgColumnTable").modal("hide");
    });

    //Set checkbox values in modal from localstoarage.
    function GetColumnValues() {
        var ColumnVisibilityString = localStorage.getItem("RRColumnVisibility");
        if (!ColumnVisibilityString) {
            var ColumnVisibilityStringTemp = "";
            for (index = 1; index <= 10; index++) {
                if (index != 1) {
                    ColumnVisibilityStringTemp += "/";
                }
                ColumnVisibilityStringTemp += "col" + index + "-" + true;
            }
            localStorage.setItem("RRColumnVisibility", ColumnVisibilityStringTemp);
            return;
        }

        var columnVisibilityArray = ColumnVisibilityString.split('/');
        for (i = 0; i < columnVisibilityArray.length; i++) {
            var columnData = columnVisibilityArray[i].split('-');
            if (columnData[0] == 'col1') {
                if (columnData[1] == 'true')
                    $('#chkColumn1').attr('checked', true);
                else
                    $('#chkColumn1').attr('checked', false);
            }
            else if (columnData[0] == 'col2') {
                if (columnData[1] == 'true')
                    $('#chkColumn2').attr('checked', true);
                else
                    $('#chkColumn2').attr('checked', false);
            } else if (columnData[0] == 'col3') {
                if (columnData[1] == 'true')
                    $('#chkColumn3').attr('checked', true);
                else
                    $('#chkColumn3').attr('checked', false);
            } else if (columnData[0] == 'col4') {
                if (columnData[1] == 'true')
                    $('#chkColumn4').attr('checked', true);
                else
                    $('#chkColumn4').attr('checked', false);
            } else if (columnData[0] == 'col5') {
                if (columnData[1] == 'true')
                    $('#chkColumn5').attr('checked', true);
                else
                    $('#chkColumn5').attr('checked', false);
            } else if (columnData[0] == 'col6') {
                if (columnData[1] == 'true')
                    $('#chkColumn6').attr('checked', true);
                else
                    $('#chkColumn6').attr('checked', false);
            } else if (columnData[0] == 'col7') {
                if (columnData[1] == 'true')
                    $('#chkColumn7').attr('checked', true);
                else
                    $('#chkColumn7').attr('checked', false);
            } else if (columnData[0] == 'col8') {
                if (columnData[1] == 'true')
                    $('#chkColumn8').attr('checked', true);
                else
                    $('#chkColumn8').attr('checked', false);
            } else if (columnData[0] == 'col9') {
                if (columnData[1] == 'true')
                    $('#chkColumn9').attr('checked', true);
                else
                    $('#chkColumn9').attr('checked', false);
            } else if (columnData[0] == 'col10') {
                if (columnData[1] == 'true')
                    $('#chkColumn10').attr('checked', true);
                else
                    $('#chkColumn10').attr('checked', false);
            } else if (columnData[0] == 'col11') {
                if (columnData[1] == 'true')
                    $('#chkColumn11').attr('checked', true);
                else
                    $('#chkColumn11').attr('checked', false);
            } else if (columnData[0] == 'col12') {
                if (columnData[1] == 'true')
                    $('#chkColumn12').attr('checked', true);
                else
                    $('#chkColumn12').attr('checked', false);
            } else if (columnData[0] == 'col13') {
                if (columnData[1] == 'true')
                    $('#chkColumn13').attr('checked', true);
                else
                    $('#chkColumn13').attr('checked', false);
            } else if (columnData[0] == 'col14') {
                if (columnData[1] == 'true')
                    $('#chkColumn14').attr('checked', true);
                else
                    $('#chkColumn14').attr('checked', false);
            } else if (columnData[0] == 'col15') {
                if (columnData[1] == 'true')
                    $('#chkColumn15').attr('checked', true);
                else
                    $('#chkColumn15').attr('checked', false);
            } else if (columnData[0] == 'col16') {
                if (columnData[1] == 'true')
                    $('#chkColumn16').attr('checked', true);
                else
                    $('#chkColumn16').attr('checked', false);
            } else if (columnData[0] == 'col17') {
                if (columnData[1] == 'true')
                    $('#chkColumn17').attr('checked', true);
                else
                    $('#chkColumn17').attr('checked', false);
            } else if (columnData[0] == 'col18') {
                if (columnData[1] == 'true')
                    $('#chkColumn18').attr('checked', true);
                else
                    $('#chkColumn18').attr('checked', false);
            } else if (columnData[0] == 'col19') {
                if (columnData[1] == 'true')
                    $('#chkColumn19').attr('checked', true);
                else
                    $('#chkColumn19').attr('checked', false);
            } else if (columnData[0] == 'col20') {
                if (columnData[1] == 'true')
                    $('#chkColumn20').attr('checked', true);
                else
                    $('#chkColumn20').attr('checked', false);
            } else if (columnData[0] == 'col21') {
                if (columnData[1] == 'true')
                    $('#chkColumn21').attr('checked', true);
                else
                    $('#chkColumn21').attr('checked', false);
            } else if (columnData[0] == 'col22') {
                if (columnData[1] == 'true')
                    $('#chkColumn22').attr('checked', true);
                else
                    $('#chkColumn22').attr('checked', false);
            } else if (columnData[0] == 'col23') {
                if (columnData[1] == 'true')
                    $('#chkColumn23').attr('checked', true);
                else
                    $('#chkColumn23').attr('checked', false);
            } else if (columnData[0] == 'col24') {
                if (columnData[1] == 'true')
                    $('#chkColumn24').attr('checked', true);
                else
                    $('#chkColumn24').attr('checked', false);
            } else if (columnData[0] == 'col25') {
                if (columnData[1] == 'true')
                    $('#chkColumn25').attr('checked', true);
                else
                    $('#chkColumn25').attr('checked', false);
            } else if (columnData[0] == 'col26') {
                if (columnData[1] == 'true')
                    $('#chkColumn26').attr('checked', true);
                else
                    $('#chkColumn26').attr('checked', false);
            } else if (columnData[0] == 'col27') {
                if (columnData[1] == 'true')
                    $('#chkColumn27').attr('checked', true);
                else
                    $('#chkColumn27').attr('checked', false);
            } else if (columnData[0] == 'col28') {
                if (columnData[1] == 'true')
                    $('#chkColumn28').attr('checked', true);
                else
                    $('#chkColumn28').attr('checked', false);
            } else if (columnData[0] == 'col29') {
                if (columnData[1] == 'true')
                    $('#chkColumn29').attr('checked', true);
                else
                    $('#chkColumn29').attr('checked', false);
            } else if (columnData[0] == 'col30') {
                if (columnData[1] == 'true')
                    $('#chkColumn30').attr('checked', true);
                else
                    $('#chkColumn30').attr('checked', false);
            } else if (columnData[0] == 'col31') {
                if (columnData[1] == 'true')
                    $('#chkColumn31').attr('checked', true);
                else
                    $('#chkColumn31').attr('checked', false);
            } else if (columnData[0] == 'col32') {
                if (columnData[1] == 'true')
                    $('#chkColumn32').attr('checked', true);
                else
                    $('#chkColumn32').attr('checked', false);
            } else if (columnData[0] == 'col33') {
                if (columnData[1] == 'true')
                    $('#chkColumn33').attr('checked', true);
                else
                    $('#chkColumn33').attr('checked', false);
            } else if (columnData[0] == 'col34') {
                if (columnData[1] == 'true')
                    $('#chkColumn34').attr('checked', true);
                else
                    $('#chkColumn34').attr('checked', false);
            } else if (columnData[0] == 'col35') {
                if (columnData[1] == 'true')
                    $('#chkColumn35').attr('checked', true);
                else
                    $('#chkColumn35').attr('checked', false);
            } else if (columnData[0] == 'col36') {
                if (columnData[1] == 'true')
                    $('#chkColumn36').attr('checked', true);
                else
                    $('#chkColumn36').attr('checked', false);
            } else if (columnData[0] == 'col37') {
                if (columnData[1] == 'true')
                    $('#chkColumn37').attr('checked', true);
                else
                    $('#chkColumn37').attr('checked', false);
            } else if (columnData[0] == 'col38') {
                if (columnData[1] == 'true')
                    $('#chkColumn38').attr('checked', true);
                else
                    $('#chkColumn38').attr('checked', false);
            } else if (columnData[0] == 'col39') {
                if (columnData[1] == 'true')
                    $('#chkColumn39').attr('checked', true);
                else
                    $('#chkColumn39').attr('checked', false);
            } else if (columnData[0] == 'col40') {
                if (columnData[1] == 'true')
                    $('#chkColumn40').attr('checked', true);
                else
                    $('#chkColumn40').attr('checked', false);
            } else if (columnData[0] == 'col41') {
                if (columnData[1] == 'true')
                    $('#chkColumn41').attr('checked', true);
                else
                    $('#chkColumn41').attr('checked', false);
            } else if (columnData[0] == 'col42') {
                if (columnData[1] == 'true')
                    $('#chkColumn42').attr('checked', true);
                else
                    $('#chkColumn42').attr('checked', false);
            } else if (columnData[0] == 'col43') {
                if (columnData[1] == 'true')
                    $('#chkColumn43').attr('checked', true);
                else
                    $('#chkColumn43').attr('checked', false);
            } else if (columnData[0] == 'col44') {
                if (columnData[1] == 'true')
                    $('#chkColumn44').attr('checked', true);
                else
                    $('#chkColumn44').attr('checked', false);
            } else if (columnData[0] == 'col45') {
                if (columnData[1] == 'true')
                    $('#chkColumn45').attr('checked', true);
                else
                    $('#chkColumn45').attr('checked', false);
            } else if (columnData[0] == 'col46') {
                if (columnData[1] == 'true')
                    $('#chkColumn46').attr('checked', true);
                else
                    $('#chkColumn46').attr('checked', false);
            } else if (columnData[0] == 'col47') {
                if (columnData[1] == 'true')
                    $('#chkColumn47').attr('checked', true);
                else
                    $('#chkColumn47').attr('checked', false);
            } else if (columnData[0] == 'col48') {
                if (columnData[1] == 'true')
                    $('#chkColumn48').attr('checked', true);
                else
                    $('#chkColumn48').attr('checked', false);
            } else if (columnData[0] == 'col49') {
                if (columnData[1] == 'true')
                    $('#chkColumn49').attr('checked', true);
                else
                    $('#chkColumn49').attr('checked', false);
            } else if (columnData[0] == 'col50') {
                if (columnData[1] == 'true')
                    $('#chkColumn50').attr('checked', true);
                else
                    $('#chkColumn50').attr('checked', false);
            } else if (columnData[0] == 'col51') {
                if (columnData[1] == 'true')
                    $('#chkColumn51').attr('checked', true);
                else
                    $('#chkColumn51').attr('checked', false);
            } else if (columnData[0] == 'col52') {
                if (columnData[1] == 'true')
                    $('#chkColumn52').attr('checked', true);
                else
                    $('#chkColumn52').attr('checked', false);
            } else if (columnData[0] == 'col53') {
                if (columnData[1] == 'true')
                    $('#chkColumn53').attr('checked', true);
                else
                    $('#chkColumn53').attr('checked', false);
            } else if (columnData[0] == 'col54') {
                if (columnData[1] == 'true')
                    $('#chkColumn54').attr('checked', true);
                else
                    $('#chkColumn54').attr('checked', false);
            } else if (columnData[0] == 'col55') {
                if (columnData[1] == 'true')
                    $('#chkColumn55').attr('checked', true);
                else
                    $('#chkColumn55').attr('checked', false);
            } else if (columnData[0] == 'col56') {
                if (columnData[1] == 'true')
                    $('#chkColumn56').attr('checked', true);
                else
                    $('#chkColumn56').attr('checked', false);
            } else if (columnData[0] == 'col57') {
                if (columnData[1] == 'true')
                    $('#chkColumn57').attr('checked', true);
                else
                    $('#chkColumn57').attr('checked', false);
            } else if (columnData[0] == 'col58') {
                if (columnData[1] == 'true')
                    $('#chkColumn58').attr('checked', true);
                else
                    $('#chkColumn58').attr('checked', false);
            } else if (columnData[0] == 'col59') {
                if (columnData[1] == 'true')
                    $('#chkColumn59').attr('checked', true);
                else
                    $('#chkColumn59').attr('checked', false);
            } else if (columnData[0] == 'col60') {
                if (columnData[1] == 'true')
                    $('#chkColumn60').attr('checked', true);
                else
                    $('#chkColumn60').attr('checked', false);
            }
        }
    };

    //Set column visibility to localStorage.
    function SetColumnValues() {
        var ColumnVisibilityString = "";
        var col1 = $('#chkColumn1').is(":checked");
        ColumnVisibilityString += "col1-" + col1;

        var col2 = $('#chkColumn2').is(":checked");
        ColumnVisibilityString += "/col2-" + col2;

        var col3 = $('#chkColumn3').is(":checked");
        ColumnVisibilityString += "/col3-" + col3;

        var col4 = $('#chkColumn4').is(":checked");
        ColumnVisibilityString += "/col4-" + col4;

        var col5 = $('#chkColumn5').is(":checked");
        ColumnVisibilityString += "/col5-" + col5;

        var col6 = $('#chkColumn6').is(":checked");
        ColumnVisibilityString += "/col6-" + col6;

        var col7 = $('#chkColumn7').is(":checked");
        ColumnVisibilityString += "/col7-" + col7;

        var col8 = $('#chkColumn8').is(":checked");
        ColumnVisibilityString += "/col8-" + col8;

        var col9 = $('#chkColumn9').is(":checked");
        ColumnVisibilityString += "/col9-" + col9;

        var col10 = $('#chkColumn10').is(":checked");
        ColumnVisibilityString += "/col10-" + col10;

        var col11 = $('#chkColumn11').is(":checked");
        ColumnVisibilityString += "/col11-" + col11;

        var col12 = $('#chkColumn12').is(":checked");
        ColumnVisibilityString += "/col12-" + col12;

        var col13 = $('#chkColumn13').is(":checked");
        ColumnVisibilityString += "/col13-" + col13;

        var col14 = $('#chkColumn14').is(":checked");
        ColumnVisibilityString += "/col14-" + col14;

        var col15 = $('#chkColumn15').is(":checked");
        ColumnVisibilityString += "/col15-" + col15;

        var col16 = $('#chkColumn16').is(":checked");
        ColumnVisibilityString += "/col16-" + col16;

        var col17 = $('#chkColumn17').is(":checked");
        ColumnVisibilityString += "/col17-" + col17;

        var col18 = $('#chkColumn18').is(":checked");
        ColumnVisibilityString += "/col18-" + col18;

        var col19 = $('#chkColumn19').is(":checked");
        ColumnVisibilityString += "/col19-" + col19;

        var col20 = $('#chkColumn20').is(":checked");
        ColumnVisibilityString += "/col20-" + col20;

        var col21 = $('#chkColumn21').is(":checked");
        ColumnVisibilityString += "/col21-" + col21;

        var col22 = $('#chkColumn22').is(":checked");
        ColumnVisibilityString += "/col22-" + col22;

        var col23 = $('#chkColumn23').is(":checked");
        ColumnVisibilityString += "/col23-" + col23;

        var col24 = $('#chkColumn24').is(":checked");
        ColumnVisibilityString += "/col24-" + col24;

        var col25 = $('#chkColumn25').is(":checked");
        ColumnVisibilityString += "/col25-" + col25;

        var col26 = $('#chkColumn26').is(":checked");
        ColumnVisibilityString += "/col26-" + col26;

        var col27 = $('#chkColumn27').is(":checked");
        ColumnVisibilityString += "/col27-" + col27;

        var col28 = $('#chkColumn28').is(":checked");
        ColumnVisibilityString += "/col28-" + col28;

        var col29 = $('#chkColumn29').is(":checked");
        ColumnVisibilityString += "/col29-" + col29;

        var col30 = $('#chkColumn30').is(":checked");
        ColumnVisibilityString += "/col30-" + col30;

        var col31 = $('#chkColumn31').is(":checked");
        ColumnVisibilityString += "/col31-" + col31;

        var col32 = $('#chkColumn32').is(":checked");
        ColumnVisibilityString += "/col32-" + col32;

        var col33 = $('#chkColumn33').is(":checked");
        ColumnVisibilityString += "/col33-" + col33;

        var col34 = $('#chkColumn34').is(":checked");
        ColumnVisibilityString += "/col34-" + col34;

        var col35 = $('#chkColumn35').is(":checked");
        ColumnVisibilityString += "/col35-" + col35;

        var col36 = $('#chkColumn36').is(":checked");
        ColumnVisibilityString += "/col36-" + col36;

        var col37 = $('#chkColumn37').is(":checked");
        ColumnVisibilityString += "/col37-" + col37;

        var col38 = $('#chkColumn38').is(":checked");
        ColumnVisibilityString += "/col38-" + col38;

        var col39 = $('#chkColumn39').is(":checked");
        ColumnVisibilityString += "/col39-" + col39;

        var col40 = $('#chkColumn40').is(":checked");
        ColumnVisibilityString += "/col40-" + col40;

        var col41 = $('#chkColumn41').is(":checked");
        ColumnVisibilityString += "/col41-" + col41;

        var col42 = $('#chkColumn42').is(":checked");
        ColumnVisibilityString += "/col42-" + col42;

        var col43 = $('#chkColumn43').is(":checked");
        ColumnVisibilityString += "/col43-" + col43;

        var col44 = $('#chkColumn44').is(":checked");
        ColumnVisibilityString += "/col44-" + col44;

        var col45 = $('#chkColumn45').is(":checked");
        ColumnVisibilityString += "/col45-" + col45;

        var col46 = $('#chkColumn46').is(":checked");
        ColumnVisibilityString += "/col46-" + col46;

        var col47 = $('#chkColumn47').is(":checked");
        ColumnVisibilityString += "/col47-" + col47;

        var col48 = $('#chkColumn48').is(":checked");
        ColumnVisibilityString += "/col48-" + col48;

        var col49 = $('#chkColumn49').is(":checked");
        ColumnVisibilityString += "/col49-" + col49;

        var col50 = $('#chkColumn50').is(":checked");
        ColumnVisibilityString += "/col50-" + col50;

        var col51 = $('#chkColumn51').is(":checked");
        ColumnVisibilityString += "/col51-" + col51;

        var col52 = $('#chkColumn52').is(":checked");
        ColumnVisibilityString += "/col52-" + col52;

        var col53 = $('#chkColumn53').is(":checked");
        ColumnVisibilityString += "/col53-" + col53;

        var col54 = $('#chkColumn54').is(":checked");
        ColumnVisibilityString += "/col54-" + col54;

        var col55 = $('#chkColumn55').is(":checked");
        ColumnVisibilityString += "/col55-" + col55;

        var col56 = $('#chkColumn56').is(":checked");
        ColumnVisibilityString += "/col56-" + col56;

        var col57 = $('#chkColumn57').is(":checked");
        ColumnVisibilityString += "/col57-" + col57;

        var col58 = $('#chkColumn58').is(":checked");
        ColumnVisibilityString += "/col58-" + col58;

        var col59 = $('#chkColumn59').is(":checked");
        ColumnVisibilityString += "/col59-" + col59;

        var col60 = $('#chkColumn60').is(":checked");
        ColumnVisibilityString += "/col60-" + col60;

        localStorage.setItem("RRColumnVisibility", ColumnVisibilityString);
        RefreshColumnVisibility();
    };

    //refresh Table column visibility
    function RefreshColumnVisibility() {
        var ColumnVisibilityString = localStorage.getItem("RRColumnVisibility");
        if (!ColumnVisibilityString) {
            var myArray = [1, 3, 6, 7, 22, 30, 31, 53, 54, 59];
            var ColumnVisibilityStringTemp = "";
            for (index = 1; index <= 60; index++) {
                if (index != 1) {
                    ColumnVisibilityStringTemp += "/";
                }

                if ($.inArray(index, myArray) != -1) {
                    ColumnVisibilityStringTemp += "col" + index + "-" + true;
                }
                else {
                    ColumnVisibilityStringTemp += "col" + index + "-" + false;
                }
            }
            localStorage.setItem("RRColumnVisibility", ColumnVisibilityStringTemp);
            ColumnVisibilityString = localStorage.getItem("RRColumnVisibility");
            // return;
        }
        var columnVisibilityArray = ColumnVisibilityString.split('/');
        var index = 0;
        //table header visibility
        $('#RecordReport-table thead tr th').each(function () {
            var tempString = columnVisibilityArray[index++].split('-');
            if (tempString[1] == 'true') {
                $(this).removeClass("hidden");
            }
            else {
                $(this).addClass("hidden");
            }
        });

        //table body visibility
        $('#RecordReport-table tbody tr').each(function () {
            index = 0;
            $(this).find("td:not(.nodata)").each(function () {
                var tempString = columnVisibilityArray[index++].split('-');
                if (tempString[1] == 'true') {
                    $(this).removeClass("hidden");
                }
                else {
                    $(this).addClass("hidden");
                }
            });
        });
    }
</script>

<script>

    RefreshClass(true);

    //Datepicker Binding
    $('#txtBirthday').datepicker({ format: "dd M yyyy", autoclose: true });

    $('#txtFromDate').datepicker({ format: "dd M yyyy", autoclose: true });

    $('#txtToDate').datepicker({ format: "dd M yyyy", autoclose: true });

    //Filter button click event.
    $('#btnSearch').click(function (e) {
        GetData(1, $('#page-selection'), false);
    });

    //Header clas click
    $(".header").on("click", function () {
        $(".header").parent().find(".Sortactive").removeClass("Sortactive");
        $(this).addClass("Sortactive");
        RefreshClass(false);

    });

    //refresh active class on every click.
    function RefreshClass(flag) {
        $(".header").each(function () {
            if ($(this).hasClass("Sortactive")) {
                if ($(this).hasClass("headerSortUp")) {
                    $(this).removeClass("headerSortUp");
                    $(this).addClass("headerSortDown");
                }
                else {
                    $(this).addClass("headerSortUp");
                    $(this).removeClass("headerSortDown");
                }
            }
            else {
                $(this).removeClass("headerSortUp");
                $(this).removeClass("headerSortDown");
            }
        });
        if (flag) {
            GetData(1, $('#page-selection'), true);
        }
        else {
            GetData(1, $('#page-selection'), false);
        }
    };

    //Gets Data from Database using AJAX
    function GetData(page, bootPag, flag) {
        $('#LoadingDiv').show();

        var data = {
            PageSize: 10,
            PageIndex: page,
            IsSearch: false
        };
        var pacardNumber = $('#txtPAssionCardNumber').val();
        var idNumber = $('#txtIDNumber').val();
        var birthday = $('#txtBirthday').val();
        var icNumber = $('#txtICNumber').val();
        var status = $('#txtRecordStatus').val();
        var nameOnCard = $('#txtNameOnCard').val();
        var canNumber = $('#txtCardCANNumber').val();
        var fromDate = $('#txtFromDate').val();
        var ToDate = $('#txtToDate').val();

        var UpDown = "";
        if ($('.Sortactive').hasClass('headerSortUp'))
            UpDown = 'ASC';
        else if ($('.Sortactive').hasClass('headerSortDown'))
            UpDown = 'DESC';
        var sortColumn = $('.Sortactive').text();
        $('#txtSortColumnServer').val(sortColumn);
        $('#txtSortOrderServer').val(UpDown);

        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Report/GetCardMasterDetailsReport")',
            data: { page: page, rows: 10, PACardNumber: pacardNumber, IDNumber: idNumber, Birthday: birthday, CanNumber: canNumber, Status: status, NameOnCard: nameOnCard, FromDate: fromDate, ToDate: ToDate, SortColumn: sortColumn, SortOrder: UpDown },
            async: true,
            success: function (data) {

                if (flag) {
                    InitializePagination(data.total, data.page);
                }
                else {
                    if (data.total == 0 && data.page == 0) {
                        $('#page-selection ul').html("");
                    }
                    else
                        bootPag.bootpag({
                            total: data.total,
                            page: data.page,
                            maxVisible: 10,
                            leaps: true,
                            firstLastUse: true,
                            first: '←',
                            last: '→',
                            wrapClass: 'pagination',
                            activeClass: 'active',
                            disabledClass: 'disabled',
                            nextClass: 'next',
                            prevClass: 'prev',
                            lastClass: 'last',
                            firstClass: 'first'
                        });
                }

                var tableBody = "";
                if (data) {

                    var row = "";
                    var sum = 0;

                    if (data.data.length == 0) {
                        row = '<tr>' +
                             '<td colspan="59" style="text-align: center" class="nodata">' + 'No data available in table' + '</td>' +
                         '</tr>';

                        tableBody = tableBody + (row);
                    }
                    else {
                        for (var i = 0; i < data.data.length; i++) {
                            var recordDetails = data.data[i];
                            row +=
                                '<tr>' +
                                    '<td style="text-align: center">' + recordDetails.SrNo + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.RecordID + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.ActionFlags + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.Name + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.NameOnCard + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.IDType + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.IDNumber + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.PAssionCardNumber + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.PreferedBUStr + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.EmailAddress + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.MA_BlockHouseNo + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.MA_StreetName + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.MA_FloorNo + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.MA_UnitNo + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.MA_BuildingName + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.MA_PostalCode + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HA_BlockHouseNo + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HA_StreetName + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HA_FloorNo + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HA_UnitNo + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HA_BuildingName + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HA_PostalCode + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.ExpiryDateStr + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HpNumber + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.ContactNumberHome + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.WV + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.PAYM + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.CoBranded + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.CobrandedTypeStr + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.CardTypeFlag + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.BirthdayStr + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.Gender + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.MaritalStatus + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.AnnualIncome + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HousingType + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.HighestEducationLevel + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.PrintBU + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.PreferredWV + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.BillingBU + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.OldPassionezLinkNumber + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.Nationality + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.Title + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.Race + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.Occupation + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.UserId + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.FileMasterId + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.RecordCreatedDtStr + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.RecordModifiedDtStr + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.PictureUpdated + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.PictureFile + '</td>' +
                                    '<td style="text-align: center;">' + recordDetails.Picture + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.SendInPrintFile + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.PrintFileRefId + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.CardCANNumber + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.CardCANExpiryDt + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.SendAck + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.AckFileRefId + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.RecordStatus + '</td>' +
                                    '<td style="text-align: center">' + recordDetails.RecordStatusUpdateDtStr + '</td>';
                            if (recordDetails.RecordStatus == "PC") {
                                row += '<td style="text-align: center">' + '<a href="@Url.Content("~/Report/EditRecord?RecordId=")' + recordDetails.RecordID + '"  class="view file"><span class="fa fa-edit fa-fw" title="Edit"></span></a>' + '</td>';
                            }
                            else {
                                row += '<td style="text-align: center"></td>';
                            }

                            tableBody = tableBody + (row);
                            row = "";
                        }
                    }

                    $('#RecordReport-table tbody').html(tableBody);
                }
                RefreshColumnVisibility();
                $('#LoadingDiv').hide();

            },
            error: function (e) {
                console.log(e);
                //alert(e);
                $('#LoadingDiv').hide();
            }
        });
    }
</script>

<script>
    function InitializePagination(totalPages, CurrentPage) {
        // init bootpag
        $('#page-selection').bootpag({
            total: totalPages,
            page: CurrentPage,
            maxVisible: 10,
            leaps: true,
            firstLastUse: true,
            first: '←',
            last: '→',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function (event, num) {
            GetData(num, $(this), false);
        });
    }
</script>
