﻿
@{
    ViewBag.Title = "Sign Up Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b>Sign Up Summary Report</b></h3>
                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("Summary", "Report", FormMethod.Post, new { id = "SummaryReport" }))
                {
                    <input type="hidden" name="imageData" id="imageData" />

                    <div class="box-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-2 text-right">
                                        <div class="form-group">
                                            <label>
                                                Select Type
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @*@Html.DropDownListFor(model => model.SummaryType, ((IEnumerable<ORSWebApp.Models.DurationTypeModel>)ViewBag.TimeType).Select(option => new SelectListItem
                                                {
                                                    Text = (option == null ? "None" : option.Text.ToString()),
                                                    Value = option.Value.ToString()

                                                }), new { @class = "form-control", @id = "selectRange", })*@

                                            @*@Html.DropDownList("TimeType", (IEnumerable<SelectListItem>)ViewBag.TimeType, new { @class = "form-control", @id = "selectRange", style = "width: 100%;" })*@
                                            <select class="form-control" style="width: 100%;" id="selectRange">
                                                <option selected="selected" value="Weekly">Weekly</option>
                                                <option value="Monthly">Monthly</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-2 text-right">
                                        <div class="form-group">
                                            <label>
                                                Select Week
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control" id="txtSelectedDate">
                                                @*@Html.TextBoxFor(model => model.SummaryDate, "{0:dd MMM yyyy}", new { @class = "form-control pull-right", @id = "txtSelectedDate" })*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <a id="btnSearch" class="btn btn-block btn-primary pull-right">Filter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active tab-Item"><a href="#tab_1" data-toggle="tab">Bar Chart</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="box-body">
                                    <div class="col-md-12 text-center">
                                        <div class="form-group DyHeader">
                                            <h3 class="box-title txtChartHeader" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; font-weight: 700; color:#00a65a; text-align: center;"></h3>
                                        </div>
                                    </div>
                                    <div class="chart BarChartParentClass">
                                        @*<canvas id="barChart" style="height:230px"></canvas>*@
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <div class="form-group">
                                            <h3 class="box-title" style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 15px; font-weight: 700; color:#00a65a;  text-align: center;">
                                                Upload Count Vs. Time
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- /.box -->
</section>

@Scripts.Render("~/bundles/commonDatejs")
@Scripts.Render("~/bundles/commonChartjs")

<script>
    $(document).ready(function () {
        //Datepicker Binding
        $('#txtSelectedDate').datepicker({ format: "dd M yyyy", autoclose: true });
        $('#txtSelectedDate').datepicker("setDate", formatDate(new Date()));
        GetDataBySelectedType($("#selectRange").val(), $("#txtSelectedDate").val());

        //Format date in jquery.
        function formatDate(jsonDate) {
            var m_names = new Array("Jan", "Feb", "Mar",
    "Apr", "May", "Jun", "Jul", "Aug", "Sep",
    "Oct", "Nov", "Dec");
            var date = (jsonDate.getDate() < 10 ? '0' : '') + jsonDate.getDate() +
                                   " " +
                       m_names[jsonDate.getMonth()] +
                                   " " +
                   jsonDate.getFullYear();
            return date;
        }
    });
</script>

<script type="text/javascript">
    //filter click event
    $("#btnSearch").click(function () {
        GetDataBySelectedType($("#selectRange").val(), $("#txtSelectedDate").val());
    });

    //Gets data from database depending upon Selected Type and Selected Date.
    function GetDataBySelectedType(type, selectedDate) {       
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Report/GetDataByType")',
            data: { SelectedDate: selectedDate, SelectedType: type },
            success: function (data) {
                $('#txtFilteredDateString').val(selectedDate);

                if ($('#selectRange').val() == 'Weekly') {
                    $(".DyHeader h3").html("Weekly Report");
                    $('#txtFilteredType').val("Weekly");
                } else if ($('#selectRange').val() == 'Monthly') {
                    $(".DyHeader h3").html("Monthly Report");
                    $('#txtFilteredType').val("Monthly");
                }

                //console.log(data);
                //alert(data);
                var titleAray = [];
                var pictureCount = [];
                data.forEach(function (item) {
                    //console.log(item);
                    titleAray.push(item['Title'])
                    pictureCount.push(item['PictureCountValue']);
                });
                //alert("saleAmount"+saleAmount)
                var areaChartData = {
                    labels: titleAray/*["Monday", "Tuesday", "March", "April", "May", "June", "July", "January", "February", "March", "April", "May", "June", "July"]*/,
                    datasets: [
                      {
                          label: "Electronics",
                          fillColor: "rgba(210, 214, 222, 1)",
                          strokeColor: "rgba(210, 214, 222, 1)",
                          pointColor: "rgba(210, 214, 222, 1)",
                          pointStrokeColor: "#c1c7d1",
                          pointHighlightFill: "#fff",
                          pointHighlightStroke: "rgba(220,220,220,1)",
                          data: pictureCount /*[65, 59, 180, 81, 56, 55, 40, 65, 59, 180, 81, 56, 55, 40]*/
                      }
                    ]
                };

                //Region "Bar Chart"
                $('#barChart').remove();
                $('.BarChartParentClass').append('<canvas id="barChart" style="height:215px"></canvas>');
                var barChartCanvas = $("#barChart").get(0).getContext("2d");
                var barChart = new Chart(barChartCanvas);

                var barChartData = areaChartData;
                barChartData.datasets[0].fillColor = "#00a65a";
                barChartData.datasets[0].strokeColor = "#00a65a";
                barChartData.datasets[0].pointColor = "#00a65a";

                var barChartOptions = GetBarChartOptions();

                barChartOptions.datasetFill = true;
                barChart.Bar(barChartData, barChartOptions);
                //End Bar Chart

                $('.overlay').hide();
            },
            error: function (e) {
                console.log(e);
                $('.overlay').hide();
                alert();
                //alert(e);
            }
        });
    }

    //Get Bar chart Options.
    function GetBarChartOptions() {
        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        };
        return barChartOptions;
    }

</script>
