﻿@model PassionCardAdmin.Models.UserProfileModel

<div class="box-body">

    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <div class="form-group text-right">
                <label>User Id</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(u => u.userModel.UserID, new { @class = "form-control", @readonly = "readonly" })
                <span class="alert-message-Ni"> @Html.ValidationMessageFor(u => u.userModel.UserID)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <div class="form-group text-right">
                <label>User Name</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(u => u.userModel.UserName, new { @class = "form-control", @readonly = "readonly" })
                <span class="alert-message-Ni"> @Html.ValidationMessageFor(u => u.userModel.UserName)</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <div class="form-group text-right">
                <label>Name</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(u => u.userModel.Name, new { @class = "form-control", @readonly = "readonly" })
                <span class="alert-message-Ni"> @Html.ValidationMessageFor(u => u.userModel.Name)</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <div class="form-group text-right">
                <label>User Type</label>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(u => u.userModel.RoleStr, new { @class = "form-control", @readonly = "readonly" })
                <span class="alert-message-Ni"> @Html.ValidationMessageFor(u => u.userModel.RoleStr)</span>
            </div>
        </div>
    </div>
</div>

<div class="box-footer">
    <a href="@Url.Content("~/Home/Index")" class="btn btn-warning pull-right">Cancel</a>
</div>

