﻿@model PassionCardAdmin.Models.UserChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b> Change Password </b></h3>

                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                <!-- /.box-header -->
                    <div class="box-body">

                       @if(PassionCardAdmin.Utilities.ConstantVar.IsPasswordExpired)
                       { 
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4 class="box-title"  style="color:red;"><b> Your Password is expired. Please set new password. </b></h4>

                            </div>
                        </div>
                        }

                        <div class="row">
                            <div class="col-xs-12">
                                <span class="validationheader text-left">
                                    <b>
                                        @Html.ValidationSummary(true, "! Change Password was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error-Ni col-lg-10 col-lg-offset-1 my-padding-10" })
                                    </b>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 text-right">
                                <div class="form-group">
                                    <label>
                                        Current Password:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(user => user.CurrentPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.CurrentPassword), autocomplete = "off" })
                                    <span class="alert-message-Ni text-center"> @Html.ValidationMessageFor(u => u.CurrentPassword)</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 text-right">
                                <div class="form-group">
                                    <label>
                                        New Password:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(user => user.NewPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.NewPassword), autocomplete = "off" })
                                    <span class="alert-message-Ni text-center"> @Html.ValidationMessageFor(u => u.NewPassword)</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 text-right">
                                <div class="form-group">
                                    <label>
                                        Confirm New Password:
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(user => user.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ConfirmPassword), autocomplete = "off" })
                                    <span class="alert-message-Ni text-center"> @Html.ValidationMessageFor(u => u.ConfirmPassword)</span>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-xs-2 col-xs-offset-5">
                                    <button type="submit" class="btn btn-warning btn-block btn-flat" style="background-color:#DD4B39;border-color:#DD4B39;">Save New Password</button>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-xs-2 col-xs-offset-5">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Save New Password</button>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Content/bootstrap/js/jquery.validate.js"></script>
<script src="~/Content/bootstrap/js/jquery.validate.unobtrusive.min.js"></script>
