﻿@model PassionCardAdmin.Models.UserMasterModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<head>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/LoginStyle.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="">
    <div class="login-box">
        <div class="Login-Image">
            <img src="~/Content/images/logo_New.png" class="img-responsive" />
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "myForm" }))
            {
            @Html.AntiForgeryToken()
        <!-- /.login-logo -->
            <div class="login-box-body-Ni">

                <div class="row">
                    <div class="col-xs-12">
                        <p class="login-box-msg login-box-msg-Ni">User Login</p>
                        <span class="validationheader text-left">
                            <b>
                                @Html.ValidationSummary(true, "! Login was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error-Ni col-lg-10 col-lg-offset-1 my-padding-10" })
                            </b>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(user => user.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.UserName) })
                            <span class="fa fa-user form-control-feedback"></span>
                            <span class="alert-message-Ni"> @Html.ValidationMessageFor(u => u.UserName)</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group has-feedback">
                            @Html.PasswordFor(user => user.UserPass, new { @class = "form-control", autocomplete = "off", placeholder = Html.DisplayNameFor(x => x.UserPass) })
                            <span class="fa fa-key form-control-feedback"></span>
                            <span class="alert-message-Ni"> @Html.ValidationMessageFor(u => u.UserPass)</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-block btn-flat btn-success">Sign In</button>
                    </div>
                </div>

                <div class="row hidden">
                    <div class="col-xs-12 text-center" style="margin-top:20px;">
                        <a class="link-Style" href="@Url.Content("~/Account/ForgotPassword")">Forgot Password?</a><br>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <br />
            <br />
            <br />
            @Html.Partial("_footer")
        }
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <!-- jquery.validate v1.15.0-->
    <script src="~/Content/bootstrap/js/jquery.validate.js"></script>
    <script src="~/Content/bootstrap/js/jquery.validate.unobtrusive.min.js"></script>
</body>