﻿
@{
    ViewBag.Title = "ProfileData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b> User Pofile</b></h3>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("ProfileData", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("_profileData")

                }
            </div>
        </div>
    </div>
</section>