﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PAssion Card</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        string About, B, C, D, E;
        About = B = C = D = E = string.Empty;
        string menu = ViewBag.Menu;
        if (menu != null)
        {
            if (menu == "About") { C = "active"; }
            if (menu == "Contact") { D = "active"; }
            if (menu == "Index") { About = "active"; }
            if (menu == "Status") { B = "active"; }
            if (menu == "FAQ") { E = "active"; }
        }
    }

    <link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
</head>
<body>
    <style>
        body {
            background-image: url(../../Content/background/71585-OD8CWM-671.jpg);
        }

        h2 {
            font-family: hipster;
            font-weight: bold;
            font-size: 70px;
        }

        h1, h3, h4, h5, h6 {
            font-family: hipster;
            font-weight: bold;
        }

        .img-responsive.img-center {
            margin: 0 auto;
        }
    </style>
    <!-- body -->
    <div id="LoadingDiv" class="loading-Span-Ni">
    </div>
    <div class="body-content">
        <div class="container">
            <div class="body-content1">
                <!-- header -->
                <div class="logo-search">
                    <div class="logo col-md-6">
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        @*<h1 style="font-size:48px;"><a href="@Url.Content("~/Home/Index")">P<span class="color">A</span><span class="color1">s</span><span class="color2">s</span><span class="color">i</span><span class="color1">o</span><span class="color2">n</span>  <span>Card</span><i><img src="~/Content/images/subtext.png" class="img-responsive" /></i></a></h1>*@
                        @*<h1 style="font-size:48px;"><a href="@Url.Content("~/Home/Index")">E<span class="color">m</span><span class="color1">b</span><span class="color2">r</span><span class="color">a</span><span class="color1">c</span><span class="color2">i</span><span class="color">n</span><span class="color1">g</span>  P<span class="color">A</span><span class="color1">r</span><span class="color2">e</span><span class="color">n</span><span class="color1">t</span><span class="color2">h</span><span class="color">o</span><span class="color1">o</span><span class="color2">d</span><i></i></a></h1>*@
                        @*<h1 style="font-size:40px;"><a href="@Url.Content("~/Home/Index")">PAssion<span class="color"> Baby Card</span></a></h1>*@
                        <h1 style="font-size:40px;"><a href="@Url.Content("~/Home/Index")">PAssion <span>Baby Card</span></a></h1>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="img-responsive img-center" src="~/Content/images/Mascort1.png" width="280" height="180" />
                    </div>
                    @*<div class="search">
                                <form onsubmit="return false;">
                                    <input type="text" value="Search Here..." onfocus="this.value = '';" onblur="if (this.value == '') {
                            this.value = 'Search Here...';
                        }" required="">
                                    <input type="submit" value=" ">
                                </form>
                            </div>*@
                    <div class="clearfix"> </div>
                </div>
                <!-- //header -->
                <!-- nav -->
                <div class="navigation">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <nav class="stroke">
                                <ul class="nav navbar-nav" @*style="font-family:hipster; font-size:x-large"*@>

                                    <li class="@C"><a href="@Url.Content("~/Home/About")" class="hvr-rectangle-out">What Is This?</a></li>
                                    <li class="@About"><a href="@Url.Content("~/Home/Index")" class="hvr-rectangle-out">Upload Photo</a></li>
                                    <li class="@B"><a href="@Url.Content("~/Home/CardStatus")" class="hvr-rectangle-out">Card Status</a></li>
                                    <li class="@E"><a href="@Url.Content("~/Home/FAQ")" c class="hvr-rectangle-out">FAQ</a></li>
                                    <li class="@D"><a href="@Url.Content("~/Home/Contact")" class="hvr-rectangle-out">Contact US</a></li>

                                    @*<li><a href="gallery.html" class="hvr-rectangle-out">Gallery</a></li>
                                        <li><a href="mail.html" class="hvr-rectangle-out">Mail Us</a></li>*@
                                </ul>
                            </nav>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
                <!-- //nav -->

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)

                <div class="services">
                    @RenderBody()

                </div>

            </div>
        </div>
    </div>
    <!-- //body -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="clearfix"> </div>
            </div>
            <div class="footer-copy">
                <p>&copy 2017 People’s Association </p>
                @*<ul>
                        <li><a href="#" class="twitter"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Twitter"></span></a></li>
                        <li><a href="#" class="p"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Pinterest"></span></a></li>
                        <li><a href="#" class="facebook" id="facebook"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Facebook"></span></a></li>
                        <li><a href="#" class="dribble"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On Dribbble"></span></a></li>
                        <li><a href="#" class="rss"><span type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Follow Us On RSS"></span></a></li>
                        <div class="clearfix"> </div>
                    </ul>*@

            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- for bootstrap working -->
    @*<script src="js/bootstrap.js"></script>*@
    <!-- //for bootstrap working -->
</body>
</html>
<script>
    $(document).ready(function () {
        $("#LoadingDiv").hide();
    });
</script>

