﻿@model PassionCardAdmin.Models.CreateUserModel
<div class="box-body">
    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-3">
                </div>
                <div class="col-xs-6">
                    <span class="validationheader text-left">
                        <b>
                            @Html.ValidationSummary(true, "! User creation unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-error-Ni col-lg-10 col-lg-offset-1 my-padding-10" })
                        </b>
                    </span>
                </div>
            </div>

            @if (ViewBag.IsEdit == false || (ViewBag.IsEdit == true && ViewBag.EditType == "Edit"))
            {
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div class="form-group">
                            <label>
                                Name
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-3", @id = "txtName", autocomplete = "off", placeholder = "Name" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div class="form-group">
                            <label>
                                Username
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control col-md-3", @id = "txtUserName", autocomplete = "off", placeholder = "UserName" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.IsEdit == false || (ViewBag.IsEdit == true && ViewBag.EditType == "ChangePassword"))
            {
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div class="form-group">
                            <label>
                                Password
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control col-md-3", @id = "txtPassword", autocomplete = "off", placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div class="form-group">
                            <label>
                                Confirm Password
                            </label>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control col-md-3", @id = "txtConfirmPassword", autocomplete = "off", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                if (ViewBag.IsEdit == false)
                {
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <div class="form-group">
                                <label>
                                    Select User Type
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.Role, ((IEnumerable<PassionCardAdmin.Models.UserTypeModel>)ViewBag.UserTypeList).Select(option => new SelectListItem { Text = (option == null ? "None" : option.Text), Value = option.Value.ToString() }), new { @class = "form-control", @style = "float: right;" })

                            </div>
                        </div>
                    </div>
                }
            }

            <div class="row">
                <div class="col-md-4 text-right">
                </div>
                <div class="col-md-2">
                    @if (ViewBag.IsEdit)
                    {
                        <input type="submit" value="Update" class="btn btn-block btn-primary" id="BtnSave" />
                    }
                    else
                    {
                        <input type="submit" value="Create" class="btn btn-block btn-primary" id="BtnSave" />
                    }
                </div>
                <div class="col-md-2">
                    <a href="@Url.Content("~/User/UserList")" class="btn btn-block btn-primary" id="BtnCancel">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
