﻿@model PassionCardAdmin.Models.CreateUserModel
@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b> Edit User</b></h3>
                        </div>
                        <div class="col-md-2 pull-right">
                            <a href="@Url.Content("~/User/UserList/")" class="btn btn-block btn-primary">
                                List
                            </a>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.UserId)
                    @Html.HiddenFor(x => x.IsEdit)
                    @Html.Partial("_CreateEdit")
                }
            </div>
        </div>
    </div>
</section>



