﻿
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="box-title"><b>User List</b></h3>

                        </div>
                    </div>
                </div>

                @using (@Html.BeginForm("UserList", "User", FormMethod.Post))
                {
                <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="col-md-4 pull-left">
                                        <div class="form-group">
                                            <input id="txtUserName" type="text" class="form-control  " placeholder="User Name">
                                        </div>
                                    </div>
                                    <div class="col-md-4 pull-left">
                                        <div class="form-group">
                                            <a id="btnSearch" class="btn btn-block btn-primary pull-right">Filter</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="col-md-4 pull-right">
                                        <div class="form-group">
                                            <a href="@Url.Content("~/User/CreateUser")" id="btnAddUser" class="btn btn-block btn-primary pull-right">Add User</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class=" table-responsive">
                                    <table id="UserName-table" class="table table-bordered tablesorter tree">
                                        <thead class="ors-table-header-- table-header">
                                            <tr>
                                                <th class="text-center header Sortactive">User Id</th>
                                                <th class="text-center header">Name</th>
                                                <th class="text-center header">UserName</th>
                                                <th class="text-center">Last Login</th>
                                                <th class="text-center">Role</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                </div>
                                <div class="col-sm-8 col-md-8 text-center">
                                    <div class="dataTables_paginate paging_simple_numbers" id="Staff_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button disabled MouseHourHand" id="Staff_previous">
                                                <a class="previous" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                                            </li>
                                            <li class="paginate_button txtbox">
                                                <a aria-controls="example1" data-dt-idx="1" tabindex="0">
                                                    page
                                                    <span id="currentPage" type="text" style="width: 30px;">@*Model.page*@1</span>
                                                    of <span id="spnTotalPages">@*Model.total*@1 </span>
                                                </a>

                                            </li>
                                            <li class="paginate_button MouseHourHand" id="Staff_next"><a class="Next" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="DlgActivatePerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         style="display: none;height:180px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>
                            <h3 id="myModalLabel">Activate / Deactivate User</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure, you want to Activate/Deactivate selected User?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                            <a class="btn btn-primary ADUserInfo">Ok</a>
                        </div>
                    </div>
                    
                    <div class="modal" id="UnbclockPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         style="display: none;height:180px;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>
                            <h3 id="myModalLabel">Unblock User</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure, you want to Unblock selected User?
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
                            <a class="btn btn-primary UnbUserInfo">Ok</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script>

    RefreshClass();

    //Filter button click event.
    $('#btnSearch').click(function (e) {
        GetData(1);
    });

    //Header clas click
    $(".header").on("click", function () {
        $(".header").parent().find(".Sortactive").removeClass("Sortactive");
        $(this).addClass("Sortactive");
        RefreshClass();

    });

    //refresh active class on every click.
    function RefreshClass() {
        $(".header").each(function () {
            if ($(this).hasClass("Sortactive")) {
                if ($(this).hasClass("headerSortUp")) {
                    $(this).removeClass("headerSortUp");
                    $(this).addClass("headerSortDown");
                }
                else {
                    $(this).addClass("headerSortUp");
                    $(this).removeClass("headerSortDown");
                }
            }
            else {
                $(this).removeClass("headerSortUp");
                $(this).removeClass("headerSortDown");
            }
        });
        GetData(1);
    };

    //Pagonation for table.
    $(".pagination li:not(.txtbox)").click(function (e) {
        var currentPage = parseInt($("#currentPage").text());
        var page = 1;
        if (($(e.target).attr("class") == "previous" && $(e.target).parent().hasClass("disabled")) || ($(e.target).attr("class") == "Next" && $(e.target).parent().hasClass("disabled")))
            return;

        if ($(e.target).attr("class") == "previous")
            page = currentPage - 1;
        else if ($(e.target).attr("class") == "Next")
            page = currentPage + 1;
        else
            page = parseInt($(e.target).attr("id"));
        if (($(e.target).attr("class") == "previous" && $(e.target).parent().hasClass("disabled")) || ($(e.target).attr("class") == "Next" && $(e.target).parent().hasClass("disabled")))
            return;
        GetData(page);
    });

    //Gets Data from Database using AJAX
    function GetData(page) {
        $('#LoadingDiv').show();

        $(".previous").parent().removeAttr("disabled");
        $(".Next").parent().removeAttr("disabled");
        $(".previous").parent().removeClass("disabled");
        $(".Next").parent().removeClass("disabled");
        $(".active").removeClass("active");

        var data = {
            PageSize: 10,
            PageIndex: page,
            IsSearch: false
        };

        var userName = $('#txtUserName').val();
        var UpDown = "";
        if ($('.Sortactive').hasClass('headerSortUp'))
            UpDown = 'ASC';
        else if ($('.Sortactive').hasClass('headerSortDown'))
            UpDown = 'DESC';
        var sortColumn = $('.Sortactive').text();
        $('#txtSortColumnServer').val(sortColumn);
        $('#txtSortOrderServer').val(UpDown);

        $.ajax({
            type: "POST",
            url: '@Url.Content("~/User/GetUserList")',
            data: { page: page, rows: 10, SortColumn: sortColumn, SortOrder: UpDown, UserName: userName },
            success: function (data) {
                $("div .pagination").data("prevPage", data.page);
                $("#currentPage").text(data.page);

                $("#spnTotalPages").text(data.total);

                $("#" + page).parent().addClass("active");
                if (page == 1) {
                    $(".previous").parent().attr("disabled", "disabled");
                    $(".previous").parent().addClass("disabled");
                }
                if (page == data.total || data.data.length == 0) {
                    $(".Next").parent().attr("disabled", "disabled");
                    $(".Next").parent().addClass("disabled");
                }
                var tableBody = "";
                if (data) {

                    var row = "";
                    var sum = 0;

                    if (data.data.length == 0) {
                        row = '<tr>' +
                             '<td colspan="6" style="text-align: center" class="nodata">' + 'No data available in table' + '</td>' +
                         '</tr>';

                        tableBody = tableBody + (row);
                    }
                    else {
                        for (var i = 0; i < data.data.length; i++) {
                            var user = data.data[i];
                            row += '<tr>' +
                                '<td style="text-align: center">' + user.UserID + '</td>' +
                                    '<td style="text-align: center">' + user.Name + '</td>' +
                                    '<td style="text-align: center">' + user.UserName + '</td>' +
                                    '<td style="text-align: center">' + user.LastLoginStr + '</td>' +
                                    '<td style="text-align: center">' + user.RoleStr + '</td>' +
                                    '<td style="text-align: center">' + user.StatusStr + '</td>' +
                                    '<td style="text-align: center">' + '<a href="@Url.Content("~/User/EditUser/?UserId=")' + user.UserID + "&IsEdit=" + true + '" class="view file"><span class="fa fa-edit fa-fw" title="Edit">&nbsp;&nbsp;</span></a>' + '<a href="@Url.Content("~/User/EditUser?UserId=")' + user.UserID + "&IsEdit=" + false + '" class="view file" ><span class="fa fa-key" title="Change Password">&nbsp;&nbsp;</span></a>' + GetBlockedOption(user.IsBlocked, user.UserID) + '<a href="#" class="view file" onclick="javascript:ConfirmDelete(' + user.UserID + ',' + user.IsDelete + ')" >' + GetStatus(user.IsDelete) + '</a>' + '</td>';
                            '</tr>';
                        }

                        tableBody = tableBody + (row);
                        row = "";
                    }
                    $('#UserName-table tbody').html(tableBody);
                }
                $('#LoadingDiv').hide();
            },
            error: function (e) {
                console.log(e);
                //alert(e);
                $('#LoadingDiv').hide();
            }
        });
    }

    function GetBlockedOption(flag, UserID) {
        //var str = '<a href="#" class="view file"><span class="fa fa-unlock-alt" title="Unblock">&nbsp;&nbsp;</span></a>';
        var str = '<a href="#" class="view file" onclick="javascript:ConfirmUnblock(' + UserID + ',' + flag + ')" ><span class="fa fa-unlock-alt" title="Unblock">&nbsp;&nbsp;</span></a>';

        if (flag) {
            return str;
        }
        return "";
    }

    function GetStatus(flag) {
        var active = "<span class='fa fa-power-off deletePersonInfo' title='Activate' style='color:red;'>&nbsp;&nbsp;</span>";
        var deactive = "<span class='fa fa-power-off deletePersonInfo' title='Deactivate' style='color:green;'>&nbsp;&nbsp;</span>";

        var str1 = "Activate";
        var str2 = "Deactivate";
        if (flag)
            return active;
        else
            return deactive;
    }

    //confirm delete function for conrmiration of activate and deactivate option.
    function ConfirmDelete(userId, status) {
        $("#DlgActivatePerson").modal("show");
        $("#DlgActivatePerson").data("userId", userId);
    }

    $(".ADUserInfo").click(function () {
        var id = $("#DlgActivatePerson").data("userId");
        if (id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/User/Activate")',
                data: { userid: parseInt(id) },
                success: function (data) {
                    $("#DlgActivatePerson").modal("hide");
                    GetData(1);
                },
                error: function (e) { console.log(e) }
            });
        }
    });

    //unblock user
    function ConfirmUnblock(userId, flag) {
        $("#UnbclockPerson").modal("show");
        $("#UnbclockPerson").data("userId", userId);

    };

    $(".UnbUserInfo").click(function () {
        var id = $("#UnbclockPerson").data("userId");
        if (id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/User/UnblockUser")',
                data: { userid: parseInt(id) },
                success: function (data) {
                    $("#UnbclockPerson").modal("hide");
                    GetData(1);
                },
                error: function (e) { console.log(e) }
            });
        }
    });
</script>
