﻿@{
    ViewBag.Title = "What Is This?";
}

<div style="line-height:33px;padding:30px">
    <div class="row">
        <h3 class="text-center texth3">@ViewBag.Title</h3>
        @*<p>Embracing Parenthood</p><br />*@
        <p>
            Congratulations on your bundle of joy!
        </p>
        <br />
        <p>
            In conjunction with the nationwide community-led initiative – Embracing PArenthood Movement, the People’s Association (PA) will be giving out a Special Edition PAssion Card for Singapore Citizen babies born in the year of 2016 and 2017 at upcoming community celebrations to celebrate the birth of your child.
        </p>
        <br />
        <p>
            This commemorative PAssion Baby Card with a 5-year membership is specially designed to incorporate your family photo on the card-face and serves as an ez-link card. Members will enjoy discounts on courses and activities available at all Community Clubs and other PA outlets such as Water-Venture. Members can also enjoy exclusive discounts at more than 1000 PAssion Merchant outlets.
        </p>
    </div>
</div>