﻿@model  PassionCardPublic.Models.UploadPictureModel
@{
    ViewBag.Title = "Card Status";
}

@Styles.Render("~/Content/cardpreview")


@using (@Html.BeginForm("Index", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h3 class="texth3">Card Status</h3>
    <div class="row">
        <div class="col-md-12  services-grid-right">
            <div class="row">
                <div class="col-md-10 col-lg-offset-1">
                    <h3 style="font-size:30px;">Baby <span>Details</span></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="services-grids">
        <div class="col-md-6 col-md-offset-3 services-grid-right ">
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <span><strong>Please enter the birth certificate number and date of birth of your baby</strong></span>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-4">Birth Certificate Number (Last 4 digits and Alphabet)</div>
                <div class="col-md-8">
                    <div class="input-group">
                        @*<input type="text" class="form-control" />*@
                        @Html.TextBoxFor(x => x.IDNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">Date Of Birth</div>
                <div class="col-md-8">
                    <div class="input-group">
                        @*<input type="text" class="form-control" />*@

                        @Html.TextBoxFor(x => x.DOB, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"> </div>

        <div class="row hidden">
            <div class="col-md-12">
                <div class="card-preview">

                    <div id="preview-pane">
                        <div class="preview-container">
                            <img id="previewimage" src="" class="jcrop-preview" alt="Preview" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row hidden">
            <p style=" font-family: hipster;font-weight: bold;font-size:30px;">
                * The preview shown is for illustration purpose only.
            </p>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5"> </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="button" class="btn btn-primary custom-button" value="Get Status" onclick="CheckValidation();" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3 style=" font-family: hipster;font-weight: bold;color:forestgreen;" id="txtSuccess"></h3>
            </div>
        </div>
        @Html.HiddenFor(x => x.cropPointX)
        @Html.HiddenFor(x => x.cropPointY)
        @Html.HiddenFor(x => x.imageCropHeight)
        @Html.HiddenFor(x => x.imageCropWidth)
        @Html.HiddenFor(x => x.OriginalImageHeight)
        @Html.HiddenFor(x => x.OriginalImageWidth)

        <div class="clearfix"> </div>
    </div>
}


<script>

    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("importFile");
        imgtag.title = selectedFile.name;

        var imgtag1 = document.getElementById("previewimage");
        imgtag1.title = selectedFile.name;

        reader.onload = function (event) {

            $("#importFile").addClass("myimage-img");
            $("#div-outer").removeClass("img-outer");

            imgtag.src = event.target.result;
            imgtag1.src = event.target.result;
            InitializeJCrop();
        };

        reader.readAsDataURL(selectedFile);
        CheckValidation();

    }

</script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#importFile").load(function () {
            /*alert($(this).height());
            alert($(this).width());*/

            $("#OriginalImageHeight").val($(this).height());
            $("#OriginalImageWidth").val($(this).width());
        });


        $("#DOB").datepicker({ format: "dd-mm-yyyy", autoclose: true });

        //$("#IDNumber").inputmask('xxxx00000');

        //Money Euro
        $("#IDNumber").inputmask("TXXX9999A");
    });

    //Show message.
    function ShowMessage(message) {
        $("#txtSuccess").html(message);
    }

    ShowMessage('');
    function CheckValidation() {
        ShowMessage('');
        if (!$("#IDNumber").val()) {
            ShowMessage("Please enter Birth Certificate Number");
            return;
        }

        if (!$("#DOB").val()) {
            ShowMessage("Please enter Date of birth");
            return;
        }

        $('#LoadingDiv').show();
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Home/GetBabyStatus")',
            data: { icNumber: $("#IDNumber").val(), dob: $("#DOB").val() },
            success: function (data) {

                if (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    if (obj.RecordExist == null || obj.RecordExist == 'false') {
                        ShowMessage("There seems to be some error in the information provided. Please verify and submit again.");
                        $('#IDNumber').val("");
                        $('#DOB').val("");
                        $('#previewimage').attr('src', "");
                        $('#importFile').attr('src', "");
                        $('#LoadingDiv').hide();
                        return;
                    }

                    if (obj.RecordExist == "true") {
                        ShowMessage(obj.StatusMsg);
                    }
                }
                else {
                    ShowMessage("We are currently experiencing some technical issues. Please try again later");
                }
                $('#LoadingDiv').hide();
            },
            error: function (e) {
                console.log(e);
                //alert(e);
                $('#LoadingDiv').hide();
            }
        });

    }

    var jcrop_api,
            boundx,
            boundy,
            // Grab some information about the preview pane
            $preview = $('#preview-pane'),
            $pcnt = $('#preview-pane .preview-container'),
            $pimg = $('#preview-pane .preview-container img'),
            xsize = $pcnt.width(),
            ysize = $pcnt.height();

    var imgHeight = 0;
    var imgWidth = 0;
    function InitializeJCrop() {



        var img = document.getElementById('importFile');
        //or however you get a handle to the IMG
        var width = img.clientWidth;
        var height = img.clientHeight;
        //$("#OriginalImageHeight").val(height);
        //$("#OriginalImageWidth").val(width);

        //alert("width=>" + width + "**height=>" + height);

        var cropWidth = 500;
        var cropHeight = 267;
        if (width == 500) {
            cropWidth = 500;
            cropHeight = 267;
        } else {
            cropWidth = 204;
            cropHeight = 133.5;
        }
        $("#imageCropWidth").val(cropWidth);
        $("#imageCropHeight").val(cropHeight);

        $('#importFile').Jcrop({
            onChange: updatePreview,
            // onSelect: updatePreview,
            setSelect: [0, 0, cropWidth, cropHeight],
            aspectRatio: 136 / 89,
            minSize: [136, 89]

        }, function () {
            // Use the API to get the real image size
            var bounds = this.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];
            // Store the API in the jcrop_api variable
            jcrop_api = this;

            // Move the preview into the jcrop container for css positioning
            //$preview.appendTo(jcrop_api.ui.holder);
        });
    }

    function updatePreview(e) {
        //alert()
        var rx = xsize / e.w;
        var ry = ysize / e.h;
        console.log("e.w=>" + e.w + "**E.H=>" + e.h + "**e.x=>" + e.x + "**e.y=>" + e.y);
        console.log("rx=>" + rx + "**ry=>" + ry);
        console.log("width=>" + boundx + "**height=>" + boundy + "**marginLeft=>" + e.x + "**marginTop=>" + e.y);
        console.log("After factor width=>" + Math.round(rx * boundx) + "**height=>" + Math.round(ry * boundy) + "**marginLeft=>" + Math.round(rx * e.x) + "**marginTop=>" + Math.round(ry * e.y));


        $("#imageCropWidth").val(Math.round(e.w));
        $("#imageCropHeight").val(Math.round(e.h));

        $("#cropPointX").val(Math.round(e.x));
        $("#cropPointY ").val(Math.round(e.y));



        $pimg.css({
            width: Math.round(rx * boundx) + 'px',
            height: Math.round(ry * boundy) + 'px',
            marginLeft: '-' + Math.round(rx * e.x) + 'px',
            marginTop: '-' + Math.round(ry * e.y) + 'px'
        });



    };



</script>

