﻿@{
    ViewBag.Title = "Contact Us";
}

<br />
<div style="line-height:33px;padding:30px">
    <div class="row">
        <h3 class="text-center texth3">@ViewBag.Title</h3>
        @*<p>Embracing Parenthood</p><br />*@
        <p>
            For Embracing PArenthood Community Celebration event matters, you can contact the community club/center indicated in your invitation letter or email your enquiry to <a href="mailto:pa_familylife@pa.gov.sg">pa_familylife@pa.gov.sg</a>
        </p>
        <br />
        <p>
            For PAssion Card matters, you can contact PAssion Card Hotline at <a href="tel:62255322">6225 5322</a> daily, except Public Holidays, from 8am to 6pm.
        </p>
        <br />
    </div>
</div>
@*<div style="line-height:33px; padding:30px">
        <div class="row">
            <h3>Getting to People's Association Headquarters </h3>
            <img src="~/Content/images/PA Gate.jpg" class="img-responsive" />
            <p>
                Please bring along your identification card for exchange of pass at the Security Office.<br /><br />9 King George's Avenue,<br />
                Singapore 208581
            </p>
        </div>
        <div class="row">
            <h3>By MRT:</h3>
            <ul>
                <li>Lavender MRT (7 minutes walk)</li>
                <li>Farrer Park MRT (9 minutes walk) </li>
            </ul>
        </div>

        <div class="row">
            <h3>By Bus:</h3>
            <ul>
                <li>Kitchener Road (After King George's Avenue) - 130</li>
                <li>Jalan Besar Road (After Allenby Road) - 23, 64, 65, 66, 67, 130, 139, 147, 857</li>
                <li>Kallang Road (near Lavender MRT) - 2, 7, 12, 32, 33, 51, 61, 63, 80, 107, 107M, 133, 145, 175, 197, 647, 648</li>
            </ul>
        </div>

        <div class="row">
            <h3> By Car:</h3>
            <ul>
                <li>Multi-storey & basement carpark at Jalan Besar Sports Complex  </li>
                <li>HDB Car Park near block 801 King George’s Avenue </li>
                <li>URA car park lots along King George’s Avenue and Tyrwhitt Road</li>
            </ul>
        </div>
        <br /><br />
        <div class="row">
            PA Hotline : 6344 8222 <br />

            PA Hotline Operating Hours: <br />

            Monday to Friday - 9.00 am to 6.00 pm <br />

            Closed on weekends and Public Holidays <br />
        </div>
    </div>*@
@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@