﻿
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center texth3">FAQ</h3>

<div style="line-height:33px; padding:30px">
    <div class="row">
        <h3>1. What is the PAssion Baby Card?</h3>
        <p>
            The PAssion Baby Card is an initiative under the Embracing PArenthood Movement organised by the People’s Association (PA) Family Life Champions (FLCs), Residents’ Committees (RCs), Citizens’ Consultative Committees (CCCs) and other Grassroots Organisations (GROs) to celebrate the birth of new-borns and promote parenthood in the community.

            Singapore Citizen babies born in 2016 and 2017 are eligible for the PAssion Baby Card.  Parents of these babies will be invited to apply for the card by their respective constituencies.

            This special edition commemorative card with a 5-year membership features a personalised family photo and serves as an ez-link card.
        </p><br />
        <h4><u>Card Design</u></h4><br />
        <div class="col-md-6">
            <div class="row text-center">
                <img src="~/Content/images/BabyBoy.png" />
            </div>
            <div class="row text-center">
                <label>For Baby Boy</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row text-center">
                <img src="~/Content/images/BabyGirl.png" />
            </div>
            <div class="row text-center">
                <label>For Baby Girl</label>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h3>2. What are the benefits of the PAssion Baby Card? </h3>
        <p>
            Members will enjoy discounts on courses and activities available at all Community Clubs and other PA outlets such as Water-Venture. Members can also enjoy exclusive discounts at more than 1000 PAssion Merchant outlets. Members can check the latest promotions/offers from participating merchants at PAssion Card website (<a href="http://www.passioncard.sg">www.passioncard.sg</a>) or PAssion Card Facebook (<a href="https://www.facebook.com/PAssionCard">www.facebook.com/PAssionCard</a> ).
        </p><br />
    </div>
    <br />
    <div class="row">
        <h3>3.	What is the difference between the new PAssion Baby Card and the PAssion ez-link Card? </h3>
        <p>
            The PAssion Baby Card is registered under the baby’s name and is specially designed to incorporate your family photo on the cardface to celebrate the birth of your child. The benefits and privileges of the PAssion Baby Card remains the same as the PAssion ez-link Card.
        </p><br />
    </div>
    <br />
    <div class="row">
        <h3>4.  How do I apply for this card for my baby? </h3>
        <p>
            An invitation letter to the Embracing PArenthood Community Celebration event will be sent to parents of eligible babies together with information on how to apply for the PAssion Baby Card.  Parents can follow the instructions stated on the letter to submit their application through our Embracing PArenthood portal.
        </p><br />
    </div>
    <br />
    <div class="row">
        <h3>5. Can I change the photo on the card after I have submitted my application?</h3>
        <p>
            Once the application has been submitted, you will not be able to change the photo.
        </p><br />
    </div>
    <br />
    <div class="row">
        <h3>6.	When will my baby receive the PAssion Baby Card?</h3>
        <p>
            An invitation letter to the Embracing PArenthood Community Celebration event will be sent to you. The card will be presented to you and your baby during the event.  Details will be provided in the invitation letter.
        </p><br />
    </div>
    <br />
    <div class="row">
        <h3>7.	Who can I contact if I have further queries? </h3>
        <p>
            For <strong>Embracing PArenthood Community Celebration event matters, you can contact the community club/center indicated in your invitation letter or email your enquiry to pa_familylife@pa.gov.sg</strong>
        </p>
        <p>
            For <strong>PAssion Card</strong> matters, you can contact PAssion Card Hotline at <a href="tel:62255322">6225 5322</a> daily, except Public Holidays, from 8am to 6pm.

        </p><br />
    </div>
</div>

