﻿@{
    ViewBag.Title = "Guidlines";
}

<h4 class="texth3">IMAGE LEGAL AND ETHICAL GUIDELINES</h4>
<br />

<div style="line-height:33px;padding:30px">
    <div class="row">
        <p>
            We have specific rules regarding the types of graphics and subject matter permitted on items produced and sold
            through our service. These rules are divided into two categories: ethical guidelines and legal guidelines.
        </p>
    </div>
    <div class="row">
        <h3 class="text-center texth3">Ethical Guidelines</h3>
        <p>
            <ul>
                <li>
                    We will not print: nudity. We will not print any body parts that would normally be covered by underclothing. We will not print very graphic artistic renditions of persons having sex or their sexual body parts. There will also be times when we will not print a picture of some sort of nudity just because it is in very bad taste.
                </li>
                <li>
                    We will not print: child nudity.
                </li>
                <li>
                    We will not print: hate material. Hate material is anything that speaks to hate of any people, creed or race.
                </li>
                <li>We will not print: Offensive Content - Either Direct or Suggestive</li>
            </ul>
        </p>
    </div>
    <div class="row">
        <h3 class="text-center texth3">Legal Guidelines</h3>
        <p>
            You must possess the full rights in order to use a design (picture, logo, text) for the card printing. Please double check the legal status or ask the owner for permission if you are not sure before using a design.
            <ul>
                <li>We will not print: Unofficial merchandise.</li>
                <li>We will not print: Cartoon, Animation or Movie Characters(even if they are edited). Photos taken by yourself of your owned characters will be considered.</li>                
            </ul>
            <div>
                <img src="~/Content/images/legal1.png" />
            </div>
            <ul>
                <li>We will not print: Official vehicle images directly taken from websites, brochures or printed materials(even if they are edited). Photos taken by yourself of your owned vehicles will be considered.</li>
            </ul>
            <div>
                <img src="~/Content/images/legal2.png" />
            </div>
            <ul>
                <li>We will not print: Names, logos, pictures or other intellectual property of musical groups or musical artists.</li>
                <li>
                    We will not print: Names, logos, pictures, or other intellectual property of sports teams, colleges/universities, clubs or organizations.
                </li>
                <li> We will not print: trademarks, names or logos for companies. For example you can not use the name Coca Cola, Coke “It’s the Real Thing” or the design from the cans.</li>
            </ul>
            <div>
                <img src="~/Content/images/legal3.jpg" />
            </div>
            <ul>
                <li>We will not print: photos, caricatures, or other artwork depicting a celebrity. Just because you take a picture of a celebrity,it does not give you the right to use the photo on prints, even if you alter the photo digitally. As expressed in the first four examples below, personal rights are still owned even if the person is no longer living.</li>
            </ul>
            <div>
                <img src="~/Content/images/legal4.jpg" />
            </div>
        </p>
    </div>
</div>