﻿@model  PassionCardPublic.Models.UploadPictureModel
@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/cardpreview")

@using (@Html.BeginForm("Index", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h3 class="texth3">Upload Photo</h3>
    <div class="row">
        <div class="col-md-12  services-grid-right">
            <div class="row">
                <div class="col-md-10 col-lg-offset-1">
                    <h3 style="font-size:30px;">Baby <span>Details</span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="services-grids">
        <div class="col-md-6 services-grid-right ">
            <div class="row">
                <div class="col-md-12">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span><strong>Please enter the birth certificate number and date of birth of your baby</strong></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">Birth Certificate Number (Last 4 digits and Alphabet)</div>
                <div class="col-md-8">
                    <div class="input-group">
                        @*<input type="text" class="form-control" />*@
                        @Html.TextBoxFor(x => x.IDNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">Date Of Birth</div>
                <div class="col-md-8">
                    <div class="input-group">
                        @*<input type="text" class="form-control" />*@

                        @Html.TextBoxFor(x => x.DOB, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Photo</div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input class="IDFileUpload" type="file" onchange="onFileSelected(event)" name="importFile1" id="importFile1" accept="image/*" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p id="errorMessage" style="font-family: hipster;font-weight: bold;color:red;font-size:30px;"></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 services-grid-left">
            <div class="col-md-12 text-center">
                <div class="img-outer IdPreviewContainer" id="div-outer">
                    <img id="importFile" name="importFile" src="" style="image-orientation:from-image;" />
                </div>
                <div class="IDSpecification">
                    <br />
                    <br />
                    <br />
                    <br />

                    <h3 style="color:red;">Photo Specifications</h3><br>
                    <p><strong>Photo Should be in Following File Formats:</strong> .JPEG , .jpeg , .JPG , .jpg</p>
                    <p>
                        <strong>
                            Minimum Photo Size:
                        </strong>  W2.3 cm x H1.5cm ( 136px x 89px )
                    </p>
                    <p>
                        <strong>
                            Minimum Photo Resolution:
                        </strong> 150 dpi
                    </p>
                    <p>
                        <strong>
                            Maximum Photo Size:
                        </strong> 3MB
                    </p><br>
                    <p class="hidden"><strong>Please make sure that your image conforms to our <a href="@Url.Content("~/Home/GuidLines")" target="_blank">Guidelines</a> before uploading.</strong><p></p><br>

                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="row IdPreviewContainer">
            <div class="col-md-12">
                <div class="card-preview">
                    <div id="preview-pane">
                        <div class="preview-container">
                            <img id="previewimage" src="" class="jcrop-preview" alt="Preview" style="image-orientation:from-image;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row IdPreviewContainer">
            <p style=" font-family: hipster;font-weight: bold;font-size:30px;">
                The preview shown is for illustration purpose only.
            </p>
        </div>

        <br />
        <br />
        <br />
        <br />
        <div class="row IdPreviewContainer">
            <div class="col-md-5"> </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="submit" class="btn btn-primary custom-button" value="Submit" />
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.Gender, new { @id = "IDGender" })
        @Html.HiddenFor(x => x.cropPointX)
        @Html.HiddenFor(x => x.cropPointY)
        @Html.HiddenFor(x => x.imageCropHeight)
        @Html.HiddenFor(x => x.imageCropWidth)
        @Html.HiddenFor(x => x.OriginalImageHeight)
        @Html.HiddenFor(x => x.OriginalImageWidth)
        <div class="clearfix"> </div>
    </div>
}

<script>

    //This event is used on lost focus of IDNuber.
    $(document).on("blur", "#IDNumber", function (e) {
        checkFields();
    });

    //Last AGM held Date change events
    $(document).on("changeDate", "#DOB", function (e) {
        checkFields();
    });

    ValidateFields(false);

    //Check fields and enable disable textboxes.
    function checkFields() {
        if ($('#IDNumber').val() == null || $('#IDNumber').val() == "" || $('#DOB').val() == null || $('#DOB').val() == "") {
            ValidateFields(false);
        }
        else {
            //alert($('#IDNumber').val() + "-" + $('#DOB').val());
            ValidateFields(true);
        }
    }
    $('.IdPreviewContainer').hide();
    $('.IDSpecification').show();

    function ResetView() {
        clearImage();
        if (jcrop_api) {
            jcrop_api.destroy();
            boundx = boundy = undefined;
        }
        $('.IdPreviewContainer').hide();
        $('.IDSpecification').show();
    }

    //if flag is false the checks wheather an entry for this record exists in database or not.
    function ValidateFields(flag) {
        if (flag == false) {
            $(".IDFileUpload").prop('disabled', true);
        } else {
            //posts to service here.
            $('#LoadingDiv').show();
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Home/GetBabyStatus")',
                data: { icNumber: $("#IDNumber").val(), dob: $("#DOB").val() },
                success: function (data) {
                    if (data) {
                        console.log(data);
                        var obj = JSON.parse(data);

                        if (obj.RecordExist == null || obj.RecordExist == 'false') {
                            ShowMessage('There seems to be some error in the information provided. Please verify and submit again.');
                            clearImage();
                            $('.IdPreviewContainer').hide();
                            $('.IDSpecification').show();
                            $('#previewimage').attr('src', "");
                            $('#importFile').attr('src', "");
                            $('#LoadingDiv').hide();
                            $(".IDFileUpload").prop('disabled', true);
                            return;
                        }

                        if (obj.PictureStatus == "True") {
                            ShowMessage('Your application has already been successfully submitted.');
                            clearImage();
                            $('.IdPreviewContainer').hide();
                            $('.IDSpecification').show();
                            $('#previewimage').attr('src', "");
                            $('#importFile').attr('src', "");
                            $('#LoadingDiv').hide();
                            $(".IDFileUpload").prop('disabled', true);
                            return;
                        }
                        ShowMessage('');
                        $('#IDGender').val(obj.Gender);
                        $(".IDFileUpload").prop('disabled', false);
                    }
                    else {
                        ShowMessage("We are currently experiencing some technical issues. Please try again later");
                    }
                    $('#LoadingDiv').hide();

                },
                error: function (e) {
                    console.log(e);
                    $('#LoadingDiv').hide();
                }
            });
        }
    }
    //Show message.
    function ShowMessage(message) {
        $('#errorMessage').html(message);
    }

    $(window).resize(function () {
        if (photoUploaded) {
            //$("#importFile").removeClass("myimage-img");
            //$("#div-outer").addClass("img-outer");
            //ResetView();
            //ShowMessage('Screen size changed, please upload new photo.');
        }
    });

    //clear image data
    function clearImage() {
        $('#importFile1').val("");
        $('#previewimage').attr('src', "");
        //$('#importFile').attr('src', "");
    }

    photoUploaded = false;
    //File change event called here.
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];

        if (selectedFile == null) {
            if (photoUploaded) {
                ResetView();
            }
            return;
        }

        ShowMessage('');
        if (selectedFile.size > 3245329) {
            ShowMessage('The maximum image size you can upload is 3MB. Please edit your photo and upload it again.');
            ResetView();
            return;
        } else if ($('#DOB').val() == null || $('#DOB').val() == "") {
            ShowMessage('Enter Date of birth.');
            ResetView();
            return;
        }

        if (jcrop_api) {
            jcrop_api.destroy();
            boundx = boundy = undefined;
        }

        //$('#div-outer').find('#importFile').remove();
        //$('#div-outer').append('<img id="importFile" name="importFile" src="" />');
        //$('#maincontent img').width('100%');
        $('#importFile').height('auto');
        //$("#div-outer").addClass("img-outer");
        //$("#div-outer").addClass("img-outer");

        var reader = new FileReader();

        var imgtag = document.getElementById("importFile");
        imgtag.title = selectedFile.name;

        var imgtag1 = document.getElementById("previewimage");
        imgtag1.title = selectedFile.name;

        reader.onload = function (event) {
            photoUploaded = true;
            $("#importFile").addClass("myimage-img");
            $("#div-outer").removeClass("img-outer");
            imgtag.src = event.target.result;
            console.log(imgtag);
            imgtag1.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);

        if ($('#IDGender').val() == 'Male') {
            if ($(".card-preview").hasClass('female'))
                $(".card-preview").removeClass('female');
            $(".card-preview").addClass('male');
        }
        else if ($('#IDGender').val() == 'Female') {
            if ($(".card-preview").hasClass('male'))
                $(".card-preview").removeClass('male');
            $(".card-preview").addClass('female');
        }

        $('.IdPreviewContainer').show();
        $('.IDSpecification').hide();
    }

</script>

<script type="text/javascript">

    //$(document).on("load", "#importFile", function () {
    $("#importFile").load(function () {
        $("#OriginalImageHeight").val($(this).height());
        $("#OriginalImageWidth").val($(this).width());
        InitializeJCrop();
    });

    $(document).ready(function () {

        $("#DOB").datepicker({ format: "dd-mm-yyyy", autoclose: true });

        //Money Euro
        $("#IDNumber").inputmask("TXXX9999A");
    });

    var jcrop_api,
            boundx,
            boundy,
            // Grab some information about the preview pane
            $preview = $('#preview-pane'),
            $pcnt = $('#preview-pane .preview-container'),
            $pimg = $('#preview-pane .preview-container img'),
            xsize = $pcnt.width(),
            ysize = $pcnt.height();

    var imgHeight = 0;
    var imgWidth = 0;
    function InitializeJCrop() {

        var img = document.getElementById('importFile');
        //or however you get a handle to the IMG
        var width = img.clientWidth;
        var height = img.clientHeight;
        //$("#OriginalImageHeight").val(height);
        //$("#OriginalImageWidth").val(width);

        //alert("width=>" + width + "**height=>" + height);
        var cropWidth = 500;
        var cropHeight = 370;
        if (width == 500) {
            cropWidth = 500;
            cropHeight = 267;
            if (typeof boundx === 'undefined') {
                boundx = width;
                boundy = height;
            }
        } else {
            cropWidth = 204;
            cropHeight = 133.5;
            if (typeof boundx === 'undefined') {
                boundx = width;
                boundy = height;
            }
        }

        $("#imageCropWidth").val(cropWidth);
        $("#imageCropHeight").val(cropHeight);

        $('#importFile').Jcrop({
            onChange: updatePreview,
            //onSelect: updatePreview,
            setSelect: [0, 0, cropWidth, cropHeight],
            aspectRatio: 136 / 89,
            minSize: [136, 89]

        }, function () {
            // Use the API to get the real image size
            var bounds = this.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];
            // Store the API in the jcrop_api variable
            jcrop_api = this;

            // Move the preview into the jcrop container for css positioning
            //$preview.appendTo(jcrop_api.ui.holder);
        });

    }

    function updatePreview(e) {
        var rx = xsize / e.w;
        var ry = ysize / e.h;
        console.log("e.w=>" + e.w + "**E.H=>" + e.h + "**e.x=>" + e.x + "**e.y=>" + e.y);
        console.log("rx=>" + rx + "**ry=>" + ry);
        console.log("width=>" + boundx + "**height=>" + boundy + "**marginLeft=>" + e.x + "**marginTop=>" + e.y);
        console.log("After factor width=>" + Math.round(rx * boundx) + "**height=>" + Math.round(ry * boundy) + "**marginLeft=>" + Math.round(rx * e.x) + "**marginTop=>" + Math.round(ry * e.y));

        $("#imageCropWidth").val(Math.round(e.w));
        $("#imageCropHeight").val(Math.round(e.h));

        $("#cropPointX").val(Math.round(e.x));
        $("#cropPointY ").val(Math.round(e.y));

        $pimg.css({
            width: Math.round(rx * boundx) + 'px',
            height: Math.round(ry * boundy) + 'px',
            marginLeft: '-' + Math.round(rx * e.x) + 'px',
            marginTop: '-' + Math.round(ry * e.y) + 'px'
        });
    };

</script>