﻿
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>   
    <h3 class="texth3">Success</h3>
    <div class="col-md-8 col-md-offset-2 text-center">       
        <h3 style=" font-family: hipster;font-weight: bold;color:#FABA25;">Thank you for your submission. Your PAssion Card will be processed and your Community Club will contact you on the collection details.</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>


